Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

vscode updates
  .vscode/settings.json
Labels: none

results docs post optional/mandatory questions
  docs/docs/users/results.md
Labels: Area: Docs

AB#101034: 2.3 release (#249)
  .vscode/settings.json
  app/Decsys/Decsys.csproj
  docs/docs/users/results.md
  docs/docs/users/roadmap.md
Labels: Area: Backend API, Area: Docs

refactoring forms and menu
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

toast
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

removed comment
  app/client-app/src/app/pages/Editor/components/Form/FormikInput.jsx
Labels: Area: Frontend

comment added
  app/client-app/src/app/pages/Editor/components/Form/FormikInput.jsx
Labels: Area: Frontend

hasCustomTriggers update
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

backend for listing
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

better error handling
  app/Decsys/Controllers/WebhooksController.cs
Labels: Area: Backend API

api frontend
  app/Decsys/Controllers/WebhooksController.cs
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
Labels: Area: Frontend, Area: Backend API

porting action card from simun
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
  app/client-app/src/components/shared/ActionCard.jsx
Labels: Area: Frontend

action card update to conditionally render badge
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
  app/client-app/src/components/shared/ActionCard.jsx
Labels: Area: Frontend

swr and mutate added
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
Labels: Area: Frontend

backend changes for null vs empty object and UI badge logic undone
  app/Decsys/Services/WebhookService.cs
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
Labels: Area: Frontend, Area: Backend API

comments updates
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

conditional rendering
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
Labels: Area: Frontend

comment update
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

refactor
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookModal.jsx
Labels: Area: Frontend

generate-secret route
  app/Decsys/Controllers/WebhooksController.cs
Labels: Area: Backend API

api, button and confirmation modal to generate secrets
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Editor/components/Webhook/ConfirmationModal.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

overflow issue fixed
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
Labels: Area: Frontend

ascii instead of utf8 encoding
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

break-all wordbreak
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
Labels: Area: Frontend

refactor
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

removed 500 exception handling
  app/Decsys/Controllers/WebhooksController.cs
Labels: Area: Backend API

set field value
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

ViewWebhook model
  app/Decsys/Models/Webhooks/ViewWebhook.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

Delete webhook
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

api
  app/client-app/src/api/webhooks.js
Labels: Area: Frontend

id added to allow the deleting of a webhook
  app/Decsys/Models/Webhooks/ViewWebhook.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
Labels: Area: Frontend, Area: Backend API

toast and mutate
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
Labels: Area: Frontend

warning fix
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookModal.jsx
Labels: Area: Frontend

repo and service methods
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

controller update
  app/Decsys/Controllers/WebhooksController.cs
  app/client-app/src/api/webhooks.js
Labels: Area: Frontend, Area: Backend API

remove linespace
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
Labels: Area: Backend API

swagger annotations
  app/Decsys/Controllers/WebhooksController.cs
Labels: Area: Backend API

Edit backend
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

Exception handling
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

api and edit button
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
Labels: Area: Frontend

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
