Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

font weights
  packages/rating-scales/src/discrete/Grid.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
Labels: Area: Response Items, Area: Rating Scales

remove comments
  response-items/src/multiple-choice-grid/ResponseItem.jsx
Labels: Area: Response Items

margin reversed
  packages/rating-scales/src/discrete/Radio.jsx
  response-items/src/discrete-scale/utils/radio-params.js
Labels: Area: Response Items, Area: Rating Scales

undo
  response-items/src/number/ResponseItem.params.jsx
Labels: Area: Response Items

folder structure changes
  packages/rating-scales/src/grid/Grid.jsx
  response-items/src/discrete-scale/utils/radio-params.js
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
  response-items/src/multiple-choice-grid/utils/row-label.js
Labels: Area: Response Items, Area: Rating Scales

typo fix
  packages/rating-scales/src/discrete/Radio.jsx
Labels: Area: Rating Scales

asterisk instead of switch
  app/client-app/src/app/pages/Editor/components/PageList/DraggablePageItem.jsx
Labels: Area: Frontend

typo fix
  packages/rating-scales/src/discrete/Radio.jsx
Labels: Area: Rating Scales

storybook enhancement
  response-items/src/choose-many/ResponseItem.stories.jsx
  response-items/src/choose-one/ResponseItem.stories.jsx
  response-items/src/confirmation/ResponseItem.stories.jsx
  response-items/src/discrete-scale/ResponseItem.stories.jsx
  response-items/src/ellipse-scale/ResponseItem.stories.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.stories.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/visual-analog-scale/ResponseItem.stories.jsx
Labels: Area: Response Items

simple implementation of pagination
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/components/shared/SortPanel/helpers.jsx
Labels: Area: Frontend

pagination + items per page
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend

params
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  app/client-app/src/app/pages/Editor/components/EditorBar/Buttons.jsx
  app/client-app/src/app/pages/Surveys/components/Pagination/PaginationControls.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/routes/admin.routes.jsx
  app/client-app/src/app/routes/root.jsx
Labels: Area: Frontend

don't call mutate for default wordlist
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
Labels: Area: Frontend

fixing urls
  app/client-app/src/app/pages/Preview/index.jsx
  app/client-app/src/app/pages/Results.jsx
  app/client-app/src/app/pages/Surveys/actions/addSurveyActions.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ActionButtons.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/routes/admin.routes.jsx
  app/client-app/src/components/shared/SortPanel/helpers.jsx
Labels: Area: Frontend

archive and unarchive a survey
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Data/Entities/BaseSurvey.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

checks for duplication and creating instances
  app/Decsys/Controllers/InstancesController.cs
  app/Decsys/Models/Survey.cs
  app/Decsys/Services/SurveyInstanceService.cs
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

error handling
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

active survey cannot be archived
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

update params
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
Labels: Area: Backend API

error handling for liteDb
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

archive and unarchive a survey
  app/Decsys/Models/SurveySummary.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

survey launch button hidden for archive
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ActionButtons.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
Labels: Area: Frontend

remove unused code
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
Labels: Area: Frontend

filtering logic
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend

select logic updated
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/Pagination/PaginationControls.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend

archived icon
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/components/core/StateIndicator.jsx
Labels: Area: Frontend

archived sorting and filtering
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysSortingAndFiltering.jsx
  app/client-app/src/components/shared/SortPanel/helpers.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
Labels: Area: Frontend, Area: Response Items

bug fixes
  app/client-app/src/app/pages/Editor/components/EditorBar/index.jsx
  app/client-app/src/components/shared/SortPanel/helpers.jsx
Labels: Area: Frontend

null conversion
  app/client-app/src/components/shared/SortPanel/helpers.jsx
Labels: Area: Frontend

Update app/client-app/src/components/shared/SortPanel/helpers.jsx
  app/client-app/src/components/shared/SortPanel/helpers.jsx
Labels: Area: Frontend

Update app/client-app/src/components/shared/SortPanel/helpers.jsx
  app/client-app/src/components/shared/SortPanel/helpers.jsx
Labels: Area: Frontend

filter with name and survey type
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/app/pages/Surveys/components/Pagination/PaginationControls.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend, Area: Backend API

filter front end
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysSortingAndFiltering.jsx
Labels: Area: Frontend

use of magic strings
  app/Decsys/Constants/SurveyArchivedTypes.cs
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

unarchived instead of active
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

remove snake case
  app/Decsys/Constants/SurveyArchivedTypes.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

remove all for default empty string
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/client-app/src/api/surveys.js
Labels: Area: Frontend, Area: Backend API

refactor
  app/Decsys/Controllers/SurveysController.cs
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/hooks/useFilterSurveys.js
  app/client-app/src/hooks/useSurveyPagination.js
Labels: Area: Frontend, Area: Backend API

comments
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend, Area: Backend API

sorting
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
