Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

capitalise nouns
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend, Area: Backend API

validation updates
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/client-app/src/app/pages/Wordlist/components/helpers/doesWordExist.js
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/app/pages/Wordlist/validation.js
Labels: Area: Frontend, Area: Backend API

Update app/Decsys/Services/WordlistService.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

enums added
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Models/Wordlist/WordType.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
Labels: Area: Backend API

list the custom words
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCardFilters.jsx
  app/client-app/src/app/pages/Wordlist/components/helpers/getFilteredWordList.js
  app/client-app/src/app/pages/Wordlist/components/hooks/useWordData.js
  app/client-app/src/app/pages/Wordlist/components/hooks/useWordlistSortingAndFiltering.js
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend

generate using custom words
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/app/pages/Wordlist/components/hooks/useWordData.js
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/services/adjectives.js
  app/client-app/src/services/animals.js
  app/client-app/src/services/gfycat-style-urls.js
Labels: Area: Frontend

readed words
  app/client-app/src/services/adjectives.js
  app/client-app/src/services/animals.js
Labels: Area: Frontend

delete api
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

delete
  app/Decsys/Controllers/WordlistsController.cs
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/pages/Wordlist/DefaultWordlist/index.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCardFilters.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend, Area: Backend API

better url
  app/Decsys/Controllers/WordlistsController.cs
  app/client-app/src/api/wordlist.js
Labels: Area: Frontend, Area: Backend API

remove the modal
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
Labels: Area: Frontend

owner id check
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
Labels: Area: Backend API

fix about page link
  README.md
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  docs/config/helpers.js
  docs/docs/users/overview.md
Labels: Area: Frontend, Area: Docs

override webhook link for dev
  app/Decsys/Config/Webhooks.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/Services/WebhookService.cs
  app/Decsys/Startup/Web/ConfigureWebServices.cs
Labels: Area: Backend API

better error handling
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

global trigger doesnt need webhook id
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

use of IOptions on service
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

updated docs
  docs/docs/devs/technical/hosted.md
Labels: Area: Docs

replace string with IHostEnvironment
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

null check
  app/Decsys/Startup/Web/ConfigureWebServices.cs
Labels: Area: Backend API

regex option for text fields
  response-items/src/freetext/ResponseItem.jsx
  response-items/src/freetext/ResponseItem.params.jsx
  response-items/src/freetext/ResponseItem.stories.jsx
Labels: Area: Response Items

regex responses text decsys enhancement
  response-items/src/freetext/ResponseItem.jsx
  response-items/src/freetext/ResponseItem.params.jsx
Labels: Area: Response Items

Image and Spacer removed from question item
  app/Decsys/Repositories/Mongo/ComponentRepository.cs
  app/client-app/src/app/pages/Editor/components/PageList/DraggablePageItem.jsx
Labels: Area: Frontend, Area: Backend API

star updated to a switch
  app/client-app/src/app/pages/Editor/components/PageList/DraggablePageItem.jsx
Labels: Area: Frontend

Tool tips
  app/client-app/src/app/pages/Editor/components/PageList/DraggablePageItem.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

regex validation
  response-items/src/freetext/ResponseItem.jsx
  response-items/src/freetext/ResponseItem.params.jsx
  response-items/src/freetext/ResponseItem.stories.jsx
Labels: Area: Response Items

icon update
  response-items/src/multiple-choice-grid/Icon.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
Labels: Area: Response Items

grid response type
  packages/rating-scales/src/discrete/Grid.jsx
  packages/rating-scales/src/discrete/Radio.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
Labels: Area: Response Items, Area: Rating Scales

row label and story changes
  packages/rating-scales/src/discrete/Grid.jsx
  response-items/src/discrete-scale/utils/radio-params.js
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
Labels: Area: Response Items, Area: Rating Scales

rollup + build
  packages/rating-scales/src/discrete/Grid.jsx
  response-items/.rollup/multiple-choice-grid.js
  response-items/package.json
  response-items/src/multiple-choice-grid/Icon.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
  response-items/src/multiple-choice-grid/index.js
  response-items/src/multiple-choice-grid/metadata.js
Labels: Area: Response Items, Area: Rating Scales

fixed width space when no label
  packages/rating-scales/src/discrete/Grid.jsx
Labels: Area: Rating Scales

width prop
  packages/rating-scales/src/discrete/Grid.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
Labels: Area: Response Items, Area: Rating Scales

remove label
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
Labels: Area: Response Items

comment removed
  packages/rating-scales/src/discrete/Grid.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
Labels: Area: Response Items, Area: Rating Scales

story update
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
Labels: Area: Response Items

removed unused props
  packages/rating-scales/src/discrete/Grid.jsx
Labels: Area: Rating Scales

align + dynamic row render
  packages/rating-scales/src/discrete/Grid.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
Labels: Area: Response Items, Area: Rating Scales

grid + centring items
  packages/rating-scales/src/discrete/Grid.jsx
  packages/rating-scales/src/discrete/Radio.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
  response-items/src/number/ResponseItem.params.jsx
Labels: Area: Response Items, Area: Rating Scales

record response
  packages/rating-scales/src/discrete/Grid.jsx
  packages/rating-scales/src/discrete/Radio.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
Labels: Area: Response Items, Area: Rating Scales

ui adjusted for when we add or remove columns
  packages/rating-scales/src/discrete/Grid.jsx
  response-items/src/multiple-choice-grid/ResponseItem.jsx
  response-items/src/multiple-choice-grid/ResponseItem.params.jsx
  response-items/src/multiple-choice-grid/ResponseItem.stories.jsx
Labels: Area: Response Items, Area: Rating Scales
