Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Contains: Migrations

fixing docs with pnpm
  .vscode/extensions.json
  .vscode/settings.json
  docs/package.json
  docs/src/theme/Layout.js
  package.json
  pnpm-lock.yaml
Labels: none

everything except docs using pnpm apparently successfully
  .eslintignore
  .eslintrc.yaml
  .gitattributes
  .husky/pre-commit
  .prettierignore
  .prettierrc.yaml
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  old-package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  response-items/package.json
  yarn.lock
Labels: none

updated backend app to run via pnpm
  app/Decsys/Decsys.csproj
  app/Decsys/Program.cs
Labels: Area: Backend API

overriding previous docs fix since chakra update
  docs/package.json
  package.json
Labels: none

DiscreteScale and dependencies using typescript
  old-package.json
  package.json
  packages/rating-scales/__previewjs__/Wrapper.tsx
  packages/rating-scales/src/core/Frame.stories.js
  packages/rating-scales/src/core/Frame.tsx
  packages/rating-scales/src/core/Question.js
  packages/rating-scales/src/core/Question.stories.js
  packages/rating-scales/src/core/Question.stories.tsx
  packages/rating-scales/src/core/Question.tsx
  packages/rating-scales/src/core/ScaleBar.js
  packages/rating-scales/src/core/ScaleBar.stories.js
  packages/rating-scales/src/core/ScaleBar.stories.tsx
  packages/rating-scales/src/core/ScaleBar.tsx
  packages/rating-scales/src/core/ScaleLabel.js
  packages/rating-scales/src/core/ScaleLabel.tsx
  packages/rating-scales/src/discrete/DiscreteScale.js
  packages/rating-scales/src/discrete/DiscreteScale.tsx
  packages/rating-scales/src/discrete/Radio.stories.js
  packages/rating-scales/src/discrete/Radio.stories.tsx
  packages/rating-scales/src/discrete/Radio.tsx
  packages/rating-scales/src/discrete/Scale.stories.js
  packages/rating-scales/src/discrete/Scale.stories.tsx
  pnpm-lock.yaml
Labels: none

resetting pnpm to just docs for rebuilding repo with vite
  docs/package.json
  package.json
  packages/rating-scales/__previewjs__/Wrapper.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

barebones sample vite app
  .gitignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/index.html
  samples/package.json
  samples/src/App.tsx
  samples/src/main.tsx
  samples/src/vite-env.d.ts
  samples/tsconfig.json
  samples/tsconfig.node.json
  samples/vite.config.ts
Labels: none

top level vite storybook in samples project
  pnpm-lock.yaml
  samples/.storybook/main.js
  samples/.storybook/preview-head.html
  samples/.storybook/preview.js
  samples/package.json
  samples/src/stories/Introduction.stories.mdx
Labels: none

wip samples storybook config
  samples/.storybook/main.js
  samples/README.md
  samples/tsconfig.json
Labels: none

samples project can wait, ts can wait. discrete builds
  package.json
  packages/rating-scales/src/core/Frame.js
  packages/rating-scales/src/core/Question.js
  packages/rating-scales/src/core/Question.tsx
  packages/rating-scales/src/core/ScaleBar.js
  packages/rating-scales/src/core/ScaleBar.tsx
  packages/rating-scales/src/core/ScaleLabel.js
  packages/rating-scales/src/discrete/DiscreteScale.js
  packages/rating-scales/src/discrete/DiscreteScale.tsx
  packages/rating-scales/src/discrete/Radio.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  samples/.storybook/main.js
  samples/.storybook/preview-head.html
  samples/.storybook/preview.js
  samples/README.md
  samples/index.html
  samples/package.json
  samples/src/App.tsx
  samples/src/main.tsx
  samples/src/stories/Introduction.stories.mdx
  samples/src/vite-env.d.ts
  samples/tsconfig.json
  samples/tsconfig.node.json
  samples/vite.config.ts
Labels: none

all response items building under pnpm
  packages/rating-scales/package.json
  packages/rating-scales/src/ellipse/EllipseScale.js
  packages/rating-scales/src/vas/MultiScale.js
  packages/rating-scales/src/vas/MultiVisualAnalogScale.js
  packages/rating-scales/src/vas/Scale.js
  pnpm-lock.yaml
Labels: none

new vite project, fixed index.html
  app/client-app/.gitignore
  app/client-app/index.html
  app/client-app/package.json
  app/client-app/public/favicon.ico
  app/client-app/src/App.css
  app/client-app/src/App.jsx
  app/client-app/src/assets/react.svg
  app/client-app/src/index.css
  app/client-app/src/main.jsx
  app/client-app/vite.config.js
Labels: Area: Frontend

aspnet bootstrap for new vite project
  app/client-app/.aspnet/aspnetcore-https.js
  app/client-app/.aspnet/aspnetcore-react.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Area: Frontend

c# changes for new spa proxy
  app/Decsys/Program.cs
  app/Decsys/ServiceCollectionExtensions.cs
Labels: Area: Backend API

csproj changes for new spa proxy
  app/Decsys/Decsys.csproj
Labels: Area: Backend API

launch properties proxy changes
  app/Decsys/Properties/launchSettings.json
Labels: Area: Backend API

remaining fixes for new spa proxy
  app/Decsys/Decsys.csproj
  app/Decsys/Program.cs
  app/Decsys/WebApplicationExtensions.cs
  app/Decsys/packages.lock.json
  app/client-app/.aspnet/aspnetcore-https.cjs
  app/client-app/.aspnet/aspnetcore-react.cjs
  app/client-app/package.json
  app/client-app/vite.config.js
  pnpm-lock.yaml
Labels: Area: Frontend, Area: Backend API

user accounts and non admin pages seem to be working
  app/Decsys/Program.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/appsettings.Development.json
  app/client-app/package.json
  app/client-app/src/app/index.jsx
  app/client-app/src/auth/AuthContext.jsx
  app/client-app/src/services/data-structures.js
  app/client-app/vite.config.js
  pnpm-lock.yaml
Labels: Area: Frontend, Area: Backend API

no longer rely on plotly for image saving
  app/client-app/package.json
  app/client-app/src/app/index.jsx
  app/client-app/src/app/pages/Dashboard/Visualizations.jsx
  app/client-app/src/app/pages/Dashboard/helpers.js
  app/client-app/vite.config.js
  pnpm-lock.yaml
Labels: Area: Frontend

package.json tidy up
  app/client-app/package.json
Labels: Area: Frontend

package.json tidy up
  app/client-app/package.json
  package.json
Labels: Area: Frontend

turning off oidc logging
  app/client-app/src/auth/AuthContext.jsx
Labels: Area: Frontend

Initial
  LICENSE.md
  README.md
Labels: none

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
