Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

fixes
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

sorting frontend
  app/Decsys/Constants/SurveySortingKeys.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend, Area: Backend API

use mutate
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend

rename
  app/Decsys/Controllers/SurveysController.cs
  app/client-app/src/api/surveys.js
Labels: Area: Frontend, Area: Backend API

remove ToLower
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

lite db updates
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
Labels: Area: Backend API

Update app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Controllers/SurveysController.cs
Labels: Area: Backend API

import constants
  app/Decsys/Controllers/SurveysController.cs
Labels: Area: Backend API

constants use
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

backend
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

backend fixes
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Models/PagedSurveySummary.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/hooks/useFilterSurveys.js
Labels: Area: Frontend, Area: Backend API

sorting front end
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/app/pages/Surveys/components/Pagination/PaginationControls.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

front end pagination
  app/client-app/src/app/pages/Surveys/components/Pagination/PaginationControls.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend

search query
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend

replace original list method
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

correct default value
  app/client-app/src/api/surveys.js
Labels: Area: Frontend

removing list method
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/api/surveys.js
Labels: Area: Frontend, Area: Backend API

default archived
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

List survey model
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/ExportService.cs
  app/Decsys/Services/SurveyInstanceService.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

remove unused import
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
  app/client-app/src/hooks/useFilterSurveys.js
Labels: Area: Frontend

remove log
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
Labels: Area: Frontend

getting study to work
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

pagination
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Models/PagedSurveySummary.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/Pagination/PaginationControls.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

sorting
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
Labels: Area: Frontend

clean up
  app/Decsys/Models/PagedSurveySummary.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

selected study id
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
Labels: Area: Frontend

count fixes
  app/Decsys/Constants/SurveySortingKeys.cs
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
Labels: Area: Frontend, Area: Backend API

child survey duplication fixes
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

ignore properties for mapping
  app/Decsys/Mapping/SurveyMaps.cs
Labels: Area: Backend API

study count
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend

survey count
  app/Decsys/Models/PagedSurveySummary.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

remove webhook button for studies
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
Labels: Area: Frontend

save pagination and filtering choices
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysSortingAndFiltering.jsx
Labels: Area: Frontend

refactor
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/hooks/useSurveySessionState.js
Labels: Area: Frontend

create folder ui
  app/client-app/src/app/pages/Surveys/components/AddFolderModal.jsx
  app/client-app/src/app/pages/Surveys/components/PageHeader.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend

folder service, repo and model
  app/Decsys/Constants/Collections.cs
  app/Decsys/Data/Entities/BaseSurvey.cs
  app/Decsys/Data/Entities/Mongo/Folder.cs
  app/Decsys/Mapping/FolderMaps.cs
  app/Decsys/Models/Folder.cs
  app/Decsys/Repositories/Contracts/IFolderRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
  app/Decsys/Services/FolderService.cs
Labels: Area: Backend API

create a folder
  app/Decsys/Controllers/FolderController.cs
  app/Decsys/Data/Entities/Mongo/Folder.cs
  app/Decsys/Repositories/Contracts/IFolderRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/Services/FolderService.cs
Labels: Area: Backend API

frontend
  app/Decsys/Controllers/FolderController.cs
  app/client-app/src/api/folder.js
  app/client-app/src/app/pages/Surveys/components/AddFolderModal.jsx
Labels: Area: Frontend, Area: Backend API

remove comment
  app/client-app/src/app/pages/Surveys/components/AddFolderModal.jsx
Labels: Area: Frontend

default
  app/client-app/src/app/pages/Surveys/components/AddFolderModal.jsx
Labels: Area: Frontend
