Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

renames
  .azure/bicep/decsys/prod.bicepparam
  .azure/bicep/main.bicep
Labels: none

version bump
  app/Decsys/Decsys.csproj
Labels: Area: Backend API

list wordists backend
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Data/Entities/Mongo/UserWordlist.cs
  app/Decsys/Models/Wordlist/UserWordlist.cs
Labels: Area: Backend API

wordlists page
  app/Decsys/Data/Entities/Mongo/UserWordlist.cs
  app/client-app/src/app/layouts/Wordlists.jsx
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  app/client-app/src/app/layouts/index.jsx
  app/client-app/src/app/pages/Wordlists/index.jsx
  app/client-app/src/app/routes/admin.routes.jsx
Labels: Area: Frontend, Area: Backend API

list all existing wordlist
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Mapping/WordlistMaps.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend, Area: Backend API

wordlist card
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend

create wordlist
  app/Decsys/Controllers/WordlistsController.cs
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend, Area: Backend API

name during create
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend, Area: Backend API

delete
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend, Area: Backend API

refactor
  app/client-app/src/app/pages/Wordlists/component/CreateWordlistModel.jsx
  app/client-app/src/app/pages/Wordlists/component/DeleteWordlistModal.jsx
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend

get by id
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

frontend get by id
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/app/pages/Wordlist/components/hooks/useWordData.js
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/app/pages/Wordlists/index.jsx
  app/client-app/src/app/routes/admin.routes.jsx
Labels: Area: Frontend

delete on the navbar
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/app/pages/Wordlists/component/DeleteWordlistModal.jsx
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend

update name
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

update Name Frontend
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/app/pages/Wordlist/components/EditorBar/index.jsx
  app/client-app/src/app/pages/Wordlist/components/actions/editorBarActions.js
  app/client-app/src/app/pages/Wordlist/components/context/EditorBar.jsx
  app/client-app/src/app/pages/Wordlist/components/context/FetchWordlist.jsx
  app/client-app/src/app/pages/Wordlist/components/context/Wordlist.jsx
  app/client-app/src/app/pages/Wordlist/components/hooks/useWordData.js
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/components/shared/NameInput.jsx
Labels: Area: Frontend

Edit and Delete Button
  app/Decsys/Controllers/WordlistsController.cs
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend, Area: Backend API

remove delete from list view
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend

Typo Fix
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend

removal of old create
  app/Decsys/Controllers/WordlistsController.cs
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend, Area: Backend API

summary card rework
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend

style changes
  app/client-app/src/app/pages/Wordlists/index.jsx
Labels: Area: Frontend

fixes
  app/client-app/src/app/pages/Editor/components/EditorBar/Buttons.jsx
  app/client-app/src/app/pages/Wordlist/components/EditorBar/index.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/app/pages/Wordlists/component/DeleteWordlistModal.jsx
  app/client-app/src/components/shared/NameInput.jsx
Labels: Area: Frontend

backbutton fixes
  app/client-app/src/app/pages/Wordlist/components/EditorBar/index.jsx
Labels: Area: Frontend

dropdown select
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend

Improve ui
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend

show list of words if exist
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend

manage wordlist button
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend

info box
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend

default wordlist
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/app/pages/Wordlist/DefaultWordlist/editorBar.jsx
  app/client-app/src/app/pages/Wordlist/DefaultWordlist/index.jsx
  app/client-app/src/app/pages/Wordlists/index.jsx
  app/client-app/src/app/routes/admin.routes.jsx
Labels: Area: Frontend

get wordlist by id replaced by find
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend

default and main wordlist generation
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend

conditional rendering
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/app/pages/Wordlist/DefaultWordlist/index.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
  app/client-app/src/app/pages/Wordlist/components/WordlistSortingAndFiltering.jsx
Labels: Area: Frontend

Icon Updated
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend

controller and ui
  app/Decsys/Controllers/WordlistsController.cs
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend, Area: Backend API

backend
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

api added
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend, Area: Backend API

radio and form imporvements
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend

removed comments
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
Labels: Area: Backend API

refactor
  app/client-app/src/app/pages/Wordlist/components/AddCustomWordModel.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend

ownerId check
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
  app/client-app/src/app/pages/Wordlist/components/AddCustomWordModel.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend, Area: Backend API

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
