Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

added comment
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
Labels: Area: Backend API

Add cli helpers
  app/Decsys/Commands/Helpers/Bind.cs
  app/Decsys/Commands/Helpers/CliMiddlewareExtensions.cs
  app/Decsys/Commands/Helpers/ConfigureCommandServices.cs
Labels: Area: Backend API

Add hash command
  app/Decsys/Commands/Hash.cs
  app/Decsys/Commands/Helpers/CliMiddlewareExtensions.cs
  app/Decsys/Commands/Runners/Hash.cs
Labels: Area: Backend API

Add generateId
  app/Decsys/Commands/GenerateId.cs
  app/Decsys/Commands/Runners/GenerateId.cs
Labels: Area: Backend API

Add commands
  app/Decsys/Decsys.csproj
  app/Decsys/Program.cs
  app/Decsys/Startup/Cli/CliEntrypoint.cs
Labels: Area: Backend API

Add dependency
  app/Decsys/packages.lock.json
Labels: Area: Backend API

Add crypto service
  app/Decsys/Commands/Runners/GenerateId.cs
  app/Decsys/Utilities/Crypto.cs
Labels: Area: Backend API

removed litedb models
  app/Decsys/Data/Entities/BaseUserWordlist.cs
  app/Decsys/Data/Entities/LiteDb/UserWordlist.cs
  app/Decsys/Data/Entities/LiteDb/WordlistRules.cs
  app/Decsys/Data/Entities/Mongo/UserWordlist.cs
  app/Decsys/Data/Entities/UserWordlist.cs
  app/Decsys/Mapping/WordlistMaps.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
Labels: Area: Backend API

Update comment
  app/Decsys/Startup/Web/WebInitialisation.cs
Labels: Area: Backend API

inital commit which has all the required files needed
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

added methods to the service and controller
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
Labels: Area: Backend API

updated controller
  app/Decsys/Controllers/WordlistsController.cs
Labels: Area: Backend API

removed comments and unused usings
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
Labels: Area: Backend API

back to workshop mode
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

delete rule controller added
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

services added
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

workshop mode
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

checks added
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

hosted mode
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

excluded words delete endpoint and service
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

type for wordlist exclusion words checks
  app/Decsys/Controllers/WordlistsController.cs
Labels: Area: Backend API

case sensitive
  app/Decsys/Controllers/WordlistsController.cs
Labels: Area: Backend API

workshop mode
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

added feature management
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/packages.lock.json
Labels: Area: Backend API

feature flag front end and back end
  app/Decsys/Constants/FeatureFlags.cs
  app/Decsys/Controllers/ConfigController.cs
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Decsys.csproj
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/appsettings.Development.json
  app/Decsys/appsettings.json
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
Labels: Area: Frontend, Area: Backend API

changed back to workshopMode
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

storybook installed and decorators added
  app/client-app/.storybook/main.js
  app/client-app/.storybook/preview.jsx
  app/client-app/package.json
  pnpm-lock.yaml
Labels: Area: Frontend

storybook changes and files renamed
  app/client-app/.storybook/main.js
  app/client-app/src/app/layouts/components/AppBar.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/StudySelectList.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.stories.jsx
  app/client-app/src/components/core/ActiveIndicator.stories.jsx
  app/client-app/src/components/core/EmptyState.stories.jsx
  app/client-app/src/components/core/ErrorsAlert.stories.jsx
  app/client-app/src/components/core/LoadingIndicator.stories.jsx
  app/client-app/src/components/core/ProgressCard.stories.jsx
  app/client-app/src/components/core/StandardModal.stories.jsx
  app/client-app/src/components/core/StateIndicator.stories.jsx
  app/client-app/src/components/core/ToggleButton.stories.jsx
  app/client-app/src/components/page-items/Heading.stories.jsx
  app/client-app/src/components/page-items/Paragraph.stories.jsx
Labels: Area: Frontend

comments for action
  app/client-app/src/app/layouts/components/AppBar.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.stories.jsx
  app/client-app/src/components/core/EmptyState.stories.jsx
  app/client-app/src/components/core/StandardModal.stories.jsx
  app/client-app/src/components/core/ToggleButton.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortButton.stories.js
  app/client-app/src/components/shared/SortPanel/SortPanel.stories.js
Labels: Area: Frontend

addon knobs commented out
  app/client-app/src/components/core/EmptyState.stories.jsx
  app/client-app/src/components/core/LoadingIndicator.jsx
  app/client-app/src/components/core/LoadingIndicator.stories.jsx
  app/client-app/src/components/page-items/Heading.stories.jsx
  app/client-app/src/components/page-items/Paragraph.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortButton.stories.js
  app/client-app/src/components/shared/SortPanel/SortPanel.stories.js
Labels: Area: Frontend

comment out option-knobs and actions
  app/client-app/src/components/core/LoadingIndicator.jsx
  app/client-app/src/components/core/ProgressCard.stories.jsx
  app/client-app/src/components/page-items/Heading.stories.jsx
  app/client-app/src/components/page-items/Paragraph.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortButton.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortPanel.stories.jsx
Labels: Area: Frontend

remove type declaration
  app/client-app/.storybook/main.js
Labels: Area: Frontend

vitest installed and test updated
  app/client-app/package.json
  app/client-app/src/services/instance-id.test.js
  pnpm-lock.yaml
Labels: Area: Frontend

wordcard added
  app/Decsys/appsettings.Development.json
  app/Decsys/appsettings.json
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend, Area: Backend API

fixed navigation
  app/Decsys/appsettings.Development.json
  app/client-app/src/app/pages/Editor/components/EditorBar/Buttons.jsx
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/app/routes/admin.routes.jsx
  app/client-app/src/app/routes/root.jsx
Labels: Area: Frontend, Area: Backend API

workshop Mode
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

surveys page
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
Labels: Area: Frontend

story added
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/stories/Wordcard.stories.jsx
Labels: Area: Frontend

wordlist card component
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCardList.jsx
  app/client-app/src/app/pages/Wordlist/components/helpers.js
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend

border shadow
  app/client-app/src/app/pages/Wordlist/components/WordCardList.jsx
Labels: Area: Frontend

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
