Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

nan error fix for ellipse scale fix
  response-items/src/ellipse-scale/ResponseItem.stories.jsx
Labels: Area: Response Items

changed back destructed props
  response-items/src/choose-one/ResponseItem.jsx
  response-items/src/choose-one/ResponseItem.stories.jsx
  response-items/src/ellipse-scale/ResponseItem.jsx
  response-items/src/ellipse-scale/ResponseItem.stories.jsx
Labels: Area: Response Items

drop down radio
  response-items/src/choose-one/ResponseItem.stories.jsx
Labels: Area: Response Items

remove if statement
  response-items/src/choose-one/ResponseItem.jsx
Labels: Area: Response Items

replaced console.log with actions
  response-items/src/choose-many/ResponseItem.stories.jsx
  response-items/src/choose-one/ResponseItem.stories.jsx
  response-items/src/confirmation/ResponseItem.stories.jsx
  response-items/src/discrete-scale/ResponseItem.stories.jsx
  response-items/src/ellipse-scale/ResponseItem.stories.jsx
  response-items/src/freetext/ResponseItem.stories.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.stories.jsx
  response-items/src/number/ResponseItem.stories.jsx
Labels: Area: Response Items

icons added
  response-items/src/choose-many/ResponseItem.stories.jsx
  response-items/src/choose-one/ResponseItem.stories.jsx
  response-items/src/discrete-scale/ResponseItem.stories.jsx
  response-items/src/ellipse-scale/ResponseItem.stories.jsx
  response-items/src/number/ResponseItem.stories.jsx
Labels: Area: Response Items

layout for scroll and button
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

webhook preview bug fix
  app/client-app/src/app/layouts/components/SurveyLayout.jsx
  app/client-app/src/app/pages/Preview/components/Webhook/WebhookPreviewModal.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

update logic for getPageName
  app/client-app/src/app/pages/Preview/components/Webhook/WebhookPreviewModal.jsx
Labels: Area: Frontend

update to 8.0
  app/Decsys/Auth/Extensions.cs
  app/Decsys/Controllers/AccountController.cs
  app/Decsys/Decsys.csproj
  app/Decsys/Mapping/SurveyMaps.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/packages.lock.json
  test/Decsys.Test/Decsys.Test.csproj
Labels: Area: Backend API

updated github actions
  .github/workflows/build.backend-api.yml
  .github/workflows/publish.decsys.yml
Labels: Area: CI

bicep files update
  .azure/bicep/components/web-app-service.bicep
Labels: none

update mongo db
  app/Decsys/Decsys.csproj
  app/Decsys/Properties/launchSettings.json
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/packages.lock.json
Labels: Area: Backend API

update decsys
  .azure/bicep/components/web-app-service.bicep
  .github/workflows/build.backend-api.yml
  .github/workflows/publish.decsys.yml
  app/Decsys/Auth/Extensions.cs
  app/Decsys/Controllers/AccountController.cs
  app/Decsys/Decsys.csproj
  app/Decsys/Mapping/SurveyMaps.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/packages.lock.json
  test/Decsys.Test/Decsys.Test.csproj
Labels: Area: CI, Area: Backend API

null checks
  app/Decsys/Controllers/AccountController.cs
Labels: Area: Backend API

update decsys deployment version number
  app/Decsys/Decsys.csproj
Labels: Area: Backend API

remove feature flag for decsys
  app/Decsys/Controllers/ConfigController.cs
  app/Decsys/Controllers/WebhooksController.cs
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend, Area: Backend API

remove feature flag for decsys (#288)
  app/Decsys/Controllers/ConfigController.cs
  app/Decsys/Controllers/WebhooksController.cs
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend, Area: Backend API

moved out to shared folder
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/components/shared/Webhook/ConfirmationModal.jsx
  app/client-app/src/components/shared/Webhook/WebhookActionCard.jsx
  app/client-app/src/components/shared/Webhook/WebhookForm.jsx
  app/client-app/src/components/shared/Webhook/WebhookManager.jsx
  app/client-app/src/components/shared/Webhook/WebhookModal.jsx
Labels: Area: Frontend

decoupled
  app/client-app/src/components/shared/Webhook/WebhookManager.jsx
  app/client-app/src/components/shared/Webhook/WebhookModal.jsx
  app/client-app/src/components/shared/Webhook/WebhookTriggerButton.jsx
Labels: Area: Frontend

more fixes by decoupling
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/components/shared/Webhook/WebhookManager.jsx
  app/client-app/src/components/shared/Webhook/WebhookModal.jsx
  app/client-app/src/components/shared/Webhook/useWebhookManager.js
Labels: Area: Frontend

Allow webhooks updates from main survey menu
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/components/shared/Webhook/WebhookManager.jsx
  app/client-app/src/components/shared/Webhook/WebhookModal.jsx
  app/client-app/src/components/shared/Webhook/WebhookTriggerButton.jsx
Labels: Area: Frontend

better renames
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/components/shared/Webhook/WebhookEditCreateForm.jsx
  app/client-app/src/components/shared/Webhook/WebhookListModal.jsx
  app/client-app/src/components/shared/Webhook/WebhookManagementController.jsx
  app/client-app/src/components/shared/Webhook/WebhookManagementTrigger.jsx
  app/client-app/src/components/shared/Webhook/useWebhookManager.js
Labels: Area: Frontend

added cli command webhooks list
  app/Decsys/Commands/GenerateId.cs
  app/Decsys/Commands/Hash.cs
  app/Decsys/Commands/ListWebhooks.cs
  app/Decsys/Commands/Runners/ListWebhooks.cs
  app/Decsys/Startup/Cli/CliEntrypoint.cs
Labels: Area: Backend API

added cli command webhooks list (#290)
  app/Decsys/Commands/GenerateId.cs
  app/Decsys/Commands/Hash.cs
  app/Decsys/Commands/ListWebhooks.cs
  app/Decsys/Commands/Runners/ListWebhooks.cs
  app/Decsys/Startup/Cli/CliEntrypoint.cs
Labels: Area: Backend API

acceptable nuget upgrades
  app/Decsys/Decsys.csproj
  app/Decsys/appsettings.json
  app/Decsys/packages.lock.json
Labels: Area: Backend API

fixing upgraded jwt signing - signing key is now always required, even in dev
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/Services/RsaKeyService.cs
  app/Decsys/Startup/Web/ConfigureWebServices.cs
Labels: Area: Backend API

Added some debug logging around webhook triggering
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

Added cli command webhook trigger
  app/Decsys/Commands/Runners/ListWebhooks.cs
  app/Decsys/Commands/Runners/TriggerWebhook.cs
  app/Decsys/Commands/TriggerWebhook.cs
  app/Decsys/Startup/Cli/CliEntrypoint.cs
Labels: Area: Backend API

cli command to ignore trigger criteria
  .gitignore
  app/Decsys/Commands/Runners/TriggerWebhook.cs
  app/Decsys/Commands/TriggerWebhook.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

Update app/Decsys/Services/WebhookService.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

fix the unmounted component bug
  app/client-app/src/app/pages/Survey.jsx
Labels: Area: Frontend

bicep updates
  .azure/bicep/components/log-analytics-workspace.bicep
  .azure/bicep/config/keyvault-access.bicep
  .azure/bicep/config/web-app-settings.bicep
  .azure/bicep/main.bicep
  .azure/bicep/shared.bicep
  .azure/bicep/web.bicep
Labels: none

more updates
  .azure/bicep/bicepconfig.json
  .azure/bicep/components/app-service-plan.bicep
  .azure/bicep/components/keyvault.bicep
  .azure/bicep/components/managed-cert.bicep
  .azure/bicep/components/web-app-service.bicep
  .azure/bicep/decsys/prod.bicepparam
  .azure/bicep/main.bicep
Labels: none

fixed errors
  .azure/bicep/components/managed-cert.bicep
  .azure/bicep/main.bicep
Labels: none

fix state update warning
  app/client-app/src/app/pages/Survey.jsx
Labels: Area: Frontend

Feedback changes
  .azure/bicep/components/managed-cert.bicep
  .azure/bicep/main.bicep
Labels: none

Update .azure/bicep/decsys/prod.bicepparam
  .azure/bicep/decsys/prod.bicepparam
Labels: none

Update .azure/bicep/decsys/prod.bicepparam
  .azure/bicep/decsys/prod.bicepparam
Labels: none

Update .azure/bicep/decsys/prod.bicepparam
  .azure/bicep/decsys/prod.bicepparam
Labels: none

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
