Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

open create form
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookModal.jsx
Labels: Area: Frontend

editing form updates
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookModal.jsx
Labels: Area: Frontend

Fix editing which now show source page and navigation
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

secret warnings
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

warning description update and more conditional rendering
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

edit buttons spacing
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
Labels: Area: Frontend

Ui Warning changes
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

state update for secret if cancel or closed
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

secret management
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
Labels: Area: Frontend

more secret editing management
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

secret management in edit
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

refactoring
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

removed redundant code
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookMenu.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookModal.jsx
Labels: Area: Frontend

secret management description update
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

Remove feature flag function
  app/Decsys/Constants/FeatureFlags.cs
  app/Decsys/Controllers/ConfigController.cs
  app/Decsys/Controllers/WordlistsController.cs
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
Labels: Area: Frontend, Area: Backend API

warning and info update
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

description update
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

Functions app with an example function
  app/NeuromsIntegration/.gitignore
  app/NeuromsIntegration/.vscode/extensions.json
  app/NeuromsIntegration/NeuromsIntegration.csproj
  app/NeuromsIntegration/NeuromsIntegration.sln
  app/NeuromsIntegration/Program.cs
  app/NeuromsIntegration/Properties/launchSettings.json
  app/NeuromsIntegration/host.json
  app/NeuromsIntegration/net7function.cs
Labels: none

base64 instead of utf8 conversions
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

replace survey and instance id with friendly survey id
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/Services/IdService.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

friendly id service added
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/Services/FriendlyIdService.cs
  app/Decsys/Services/IdService.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

static methods instead of DI
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/Services/FriendlyIdService.cs
  app/Decsys/Services/WebhookService.cs
  app/Decsys/Utilities/FriendlyId.cs
Labels: Area: Backend API

deletes all webhooks for a survey
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

duplicate webhook for a survey
  app/Decsys/Services/SurveyService.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

study duplication
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

duplicate method being used
  app/Decsys/Services/SurveyService.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

page navigation bugg fix
  app/Decsys/Services/WebhookService.cs
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend, Area: Backend API

size changes
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

comment
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

refactored
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

cumulative results of pages instead of individual ones
  app/Decsys/Controllers/ParticipantProgressController.cs
Labels: Area: Backend API

busy page spinner used
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  app/client-app/src/app/pages/Dashboard/index.jsx
  app/client-app/src/app/pages/Editor/components/PageList/DraggablePage.jsx
  app/client-app/src/app/pages/Login/Login.jsx
  app/client-app/src/app/pages/Results.jsx
  app/client-app/src/app/pages/Survey.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/InstanceValidIdModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/index.jsx
  app/client-app/src/app/pages/user/ResetPassword/index.jsx
  app/client-app/src/app/routes/admin.routes.jsx
  app/client-app/src/app/routes/root.jsx
  app/client-app/src/app/routes/user.routes.jsx
  app/client-app/src/components/core/Busy.jsx
  app/client-app/src/components/core/LoadingIndicator.jsx
  app/client-app/src/components/core/index.js
  app/client-app/src/components/shared/SurveyPage.jsx
  app/client-app/src/main.jsx
Labels: Area: Frontend

spinner icon deleted
  app/client-app/src/components/core/Spinner.jsx
  app/client-app/src/components/shared/NameInput.jsx
Labels: Area: Frontend

busy pages to exports and survey list
  app/client-app/src/app/pages/Results.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
  app/client-app/src/components/shared/ExportModal.jsx
Labels: Area: Frontend

popper warning fix
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookManager.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookModal.jsx
Labels: Area: Frontend

Box instead of empty div
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookModal.jsx
Labels: Area: Frontend

Webhook PreviewTrigger Endpoint
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Services/WebhookService.cs
  app/client-app/src/app/pages/Results.jsx
Labels: Area: Frontend, Area: Backend API

remove async
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

removed async
  app/Decsys/Controllers/WebhooksController.cs
Labels: Area: Backend API

react visibility library replaced and deleted
  app/client-app/package.json
  app/client-app/src/components/shared/SurveyPage.jsx
  pnpm-lock.yaml
Labels: Area: Frontend
