Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

Update app/Decsys/Services/WebhookService.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

title change
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
Labels: Area: Frontend

model and form logic added
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
Labels: Area: Frontend

refactor and modal changes
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

frontend feature flag
  app/Decsys/appsettings.json
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
Labels: Area: Frontend, Area: Backend API

create webhook api added
  app/client-app/src/api/webhook.js
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

backend changes
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

Revert "backend changes"
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

model changes
  app/Decsys/Constants/WebhookEventTypes.cs
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Models/Webhooks/EventTriggerFilters.cs
  app/Decsys/Models/Webhooks/PageNavigationFilters.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Models/Webhooks/TriggerCriteria.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

update filtercriteria
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

updates to check source pages
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

error fixes
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

remove api and add if loop
  app/Decsys/Services/WebhookService.cs
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend, Area: Backend API

comments and file renames
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Models/Webhooks/EventTriggerFiltersModel.cs
  app/Decsys/Models/Webhooks/PageNavigationFiltersModel.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Models/Webhooks/TriggerCriteria.cs
  app/Decsys/Models/Webhooks/TriggerCriteriaModel.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

undo renames
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Models/Webhooks/EventTriggerFilters.cs
  app/Decsys/Models/Webhooks/PageNavigationFilters.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Models/Webhooks/TriggerCriteria.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

undo api frontend
  app/client-app/src/api/webhook.js
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

Model Changes
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PageNavigationFilters.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
Labels: Area: Backend API

updated method
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

Imported FormIk components
  app/client-app/src/app/pages/Editor/components/Form/FormHelpError.jsx
  app/client-app/src/app/pages/Editor/components/Form/FormikInput.jsx
  app/client-app/src/app/pages/Editor/components/Form/TextField.jsx
  app/client-app/src/app/pages/Editor/components/Helpers/useDebounce.js
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

forms imput
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

source page added
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

warning and layout changes
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

Accordion added
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

api added
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

warning box changes
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

Secret text field added
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

surveyId
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

mapping changes
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

Update app/Decsys/Models/Webhooks/EventTriggerFilters.cs
  app/Decsys/Models/Webhooks/EventTriggerFilters.cs
Labels: Area: Backend API

model updates from suggestions
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

objectid changed to string
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

method update
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

payload added
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
Labels: Area: Backend API

layout changes
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
Labels: Area: Backend API

mango objectId
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
Labels: Area: Backend API

description update
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

page navigation is a checkbox
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

footer added at the current position
  app/client-app/src/app/pages/Editor/components/WebhookMenu/WebhookMenu.jsx
Labels: Area: Frontend

version bump
  app/Decsys/Decsys.csproj
Labels: Area: Backend API

roadmap updates
  docs/docs/users/roadmap.md
Labels: Area: Docs

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
