Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

Add map
  app/Decsys/Mapping/WebookMap.cs
Labels: Area: Backend API

Update respository create method
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
Labels: Area: Backend API

moved url source into decsys
  app/client-app/package.json
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/services/adjectives.js
  app/client-app/src/services/animals.js
  app/client-app/src/services/generate-combination.js
  app/old-client-app/package.json
  pnpm-lock.yaml
Labels: Area: Frontend

updated code
  app/Decsys/appsettings.Development.json
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/services/adjectives.js
  app/client-app/src/services/animals.js
  app/client-app/src/services/generate-combination.js
Labels: Area: Frontend, Area: Backend API

export changes
  app/Decsys/appsettings.Development.json
  app/client-app/src/services/generate-combination.js
Labels: Area: Frontend, Area: Backend API

copyright attribute and name changes
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/services/generate-combination.js
  app/client-app/src/services/gfycat-style-urls.js
Labels: Area: Frontend

number steppers no longer do their own value updates (which were broken!)
  app/client-app/src/app/pages/Editor/components/PageItemEditor/Param.jsx
Labels: Area: Frontend

number steppers no longer do their own value updates (which were broken!) (#206)
  app/client-app/src/app/pages/Editor/components/PageItemEditor/Param.jsx
Labels: Area: Frontend

Register services
  app/Decsys/Mapping/WebhookMap.cs
  app/Decsys/ServiceCollectionExtensions.cs
Labels: Area: Backend API

Clean up delirium code
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

Update services
  app/Decsys/Constants/Collections.cs
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Mapping/WebhookMap.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
Labels: Area: Backend API

Fix line
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
Labels: Area: Backend API

Add docstring
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
Labels: Area: Backend API

Move dynamic to models
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
Labels: Area: Backend API

Register litedb service
  app/Decsys/ServiceCollectionExtensions.cs
Labels: Area: Backend API

nextenabled logic to include null validresponse
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

mandatory check
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

Add initial payload model
  app/Decsys/Models/Webhooks/PayloadModel.cs
Labels: Area: Backend API

added button
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

Update controller exception
  app/Decsys/Controllers/WebhooksController.cs
Labels: Area: Backend API

clearResult
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

page rerender
  app/client-app/src/app/pages/Dashboard/DetailsModalBody.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

setResultLogged null when payload empty
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

Add trigger
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

choose many clearing results update
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/choose-many/ResponseItem.jsx
  response-items/src/choose-many/ResponseItem.stories.jsx
  response-items/src/choose-many/components/CheckboxList.jsx
Labels: Area: Frontend, Area: Response Items

servey page changes
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

passing clear result
  app/client-app/src/components/shared/SurveyPage.jsx
  packages/param-types/ResponseItemContexts.js
Labels: Area: Frontend

updated button
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

removed missing import
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

story added and results cleared
  response-items/src/confirmation/Icon.jsx
  response-items/src/confirmation/ResponseItem.jsx
  response-items/src/confirmation/ResponseItem.params.jsx
  response-items/src/confirmation/ResponseItem.stories.jsx
Labels: Area: Response Items

unchecked clears result
  response-items/src/confirmation/ResponseItem.jsx
Labels: Area: Response Items

Update service
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

checbox list logic update
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/choose-many/components/CheckboxList.jsx
Labels: Area: Frontend, Area: Response Items

Change approach to triggering
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
Labels: Area: Backend API

testing
  response-items/src/choose-many/components/CheckboxList.jsx
Labels: Area: Response Items

Update trigger
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

Update navigation trigger
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

Update triggering
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

confirmation testing
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/confirmation/ResponseItem.jsx
  response-items/src/confirmation/ResponseItem.stories.jsx
Labels: Area: Frontend, Area: Response Items

confirmation response changes
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/confirmation/ResponseItem.jsx
Labels: Area: Frontend, Area: Response Items

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
