Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

change folders list
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend

delete, duplicate and add surveys inside folder
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Models/CreateSurveyModel.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Editor/actions/editorBarActions.js
  app/client-app/src/app/pages/Editor/components/EditorBar/Buttons.jsx
  app/client-app/src/app/pages/Editor/components/EditorBar/index.jsx
  app/client-app/src/app/pages/Editor/components/PageItemEditor/index.jsx
  app/client-app/src/app/pages/Folders/index.jsx
  app/client-app/src/app/pages/Surveys/actions/addSurveyActions.js
  app/client-app/src/app/pages/Surveys/actions/surveyCardActions.js
  app/client-app/src/app/pages/Surveys/components/AddSurveyModal/CreateBlankSurveyButton.jsx
  app/client-app/src/app/pages/Surveys/components/AddSurveyModal/index.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
  app/client-app/src/components/shared/CreateSurveyModal.jsx
Labels: Area: Frontend, Area: Backend API

breadcrumbs
  app/client-app/src/app/pages/Surveys/components/PageHeader.jsx
Labels: Area: Frontend

pagination fixes
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

type sorting and pagination fixes
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

variables renamed
  app/client-app/src/app/pages/Editor/components/EditorBar/index.jsx
  app/client-app/src/app/pages/Folders/index.jsx
  app/client-app/src/app/pages/Surveys/components/PageHeader.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend

back button fixes
  app/client-app/src/app/pages/Editor/components/EditorBar/Buttons.jsx
  app/client-app/src/app/pages/Editor/components/EditorBar/index.jsx
  app/client-app/src/app/pages/Surveys/actions/addSurveyActions.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
Labels: Area: Frontend

delete and duplicate default fixes
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Editor/actions/editorBarActions.js
  app/client-app/src/app/pages/Surveys/actions/surveyCardActions.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

more pagination fixes
  app/client-app/src/app/pages/Surveys/components/Pagination/PaginationControls.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
Labels: Area: Frontend

remove comment
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Editor/components/EditorBar/Buttons.jsx
  app/client-app/src/app/pages/Editor/components/PageItemEditor/index.jsx
  app/client-app/src/app/pages/Surveys/components/PageHeader.jsx
Labels: Area: Frontend

don't need parentFolderName for delete
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Editor/actions/editorBarActions.js
  app/client-app/src/app/pages/Surveys/actions/surveyCardActions.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
Labels: Area: Frontend, Area: Backend API

change study updating survey count
  app/Decsys/Repositories/Contracts/IFolderRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
Labels: Area: Frontend, Area: Backend API

delete toast
  app/client-app/src/components/shared/DeleteFolderModal.jsx
Labels: Area: Frontend

variables renamed
  app/Decsys/Models/PagedSurveySummary.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/ExportService.cs
  app/Decsys/Services/SurveyInstanceService.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectSurveyItemModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectSurveyItemModal.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/StudySelectList.stories.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

remove folder layout page
  app/client-app/src/app/layouts/Folders.jsx
  app/client-app/src/app/layouts/index.jsx
Labels: Area: Frontend

update node version
  .github/actions/template.pnpm-install/action.yml
Labels: Area: CI

update pnpm
  .github/actions/template.pnpm-install/action.yml
  package.json
  pnpm-lock.yaml
Labels: Area: CI

update package.json
  package.json
Labels: none

version 9.15.5 pnpm
  package.json
  pnpm-lock.yaml
Labels: none

correct sha
  package.json
Labels: none

without sha
  package.json
Labels: none

npm version 11
  package.json
Labels: none

pnpm v10
  package.json
Labels: none

update pnpm and node v
  .github/actions/template.pnpm-install/action.yml
  package.json
Labels: Area: CI

package update
  package.json
Labels: none

node issue
  .github/actions/template.pnpm-install/action.yml
Labels: Area: CI

revert changes + workaround for corepack
  .github/actions/template.pnpm-install/action.yml
  package.json
  pnpm-lock.yaml
Labels: Area: CI

pagination support
  app/Decsys/Controllers/FolderController.cs
  app/Decsys/Models/PagedFolderSummary.cs
  app/Decsys/Repositories/Contracts/IFolderRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
  app/Decsys/Services/FolderService.cs
  app/client-app/src/api/folder.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectSurveyItemModal.jsx
Labels: Area: Frontend, Area: Backend API

remove console.log
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectSurveyItemModal.jsx
Labels: Area: Frontend

dependency fixes
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
Labels: Area: Backend API

litedb fixes
  app/Decsys/Controllers/FolderController.cs
  app/Decsys/Data/Entities/LiteDb/Folders.cs
  app/Decsys/Data/LiteDbFactory.cs
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/client-app/src/app/pages/Surveys/index.jsx
  app/client-app/src/components/shared/Webhook/WebhookManagementController.jsx
Labels: Area: Frontend, Area: Backend API

sorting fixes
  app/Decsys/Data/Entities/BaseFolder.cs
  app/Decsys/Data/Entities/Mongo/Folder.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/components/shared/Webhook/WebhookManagementController.jsx
Labels: Area: Frontend, Area: Backend API

remove console log
  app/Decsys/ServiceCollectionExtensions.cs
  app/client-app/src/app/pages/Surveys/index.jsx
  app/client-app/src/components/shared/Webhook/WebhookManagementController.jsx
Labels: Area: Frontend, Area: Backend API

linespace
  app/Decsys/Data/LiteDbFactory.cs
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
Labels: Area: Backend API

resend email if token expired
  app/Decsys/Controllers/AccountController.cs
  app/Decsys/Services/TokenIssuingService.cs
  app/client-app/src/api/account.js
  app/client-app/src/app/pages/user/Feedback/Resent.jsx
  app/client-app/src/app/pages/user/Feedback/index.jsx
Labels: Area: Frontend, Area: Backend API

refactor and fixes for model
  app/Decsys/Controllers/AccountController.cs
  app/client-app/src/app/pages/user/Feedback/TokenResend.jsx
  app/client-app/src/app/pages/user/Feedback/index.jsx
Labels: Area: Frontend, Area: Backend API

email sent feedback
  app/Decsys/Controllers/AccountController.cs
  app/client-app/src/app/pages/user/Feedback/EmailResent.jsx
  app/client-app/src/app/pages/user/Feedback/Resent.jsx
  app/client-app/src/app/pages/user/Feedback/Token.jsx
  app/client-app/src/app/pages/user/Feedback/index.jsx
Labels: Area: Frontend, Area: Backend API

update version
  .github/workflows/publish.decsys.yml
  .github/workflows/template.publish.js.yml
Labels: Area: CI

update model
  app/Decsys/Data/Entities/BaseUserWordlist.cs
  app/Decsys/Data/Entities/LiteDb/UserWordlist.cs
  app/Decsys/Data/Entities/Mongo/UserWordlist.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
Labels: Area: Backend API

crud fixes
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Data/Entities/BaseUserWordlist.cs
  app/Decsys/Data/Entities/LiteDb/WordlistRules.cs
  app/Decsys/Mapping/WordlistMaps.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
Labels: Area: Backend API

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
