Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

add state for ParticipantResultsSummary
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

pass and initialise logevent function
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

logevent outline
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

records responses
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

page order
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

refactored and fixed page order
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

get correct type
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

remove console.log
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

backend changes
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/client-app/src/constants/event-types.js
Labels: Area: Frontend, Area: Backend API

webhook data
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

api changes
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

camel case to pascal case
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

fix previewTrigger
  app/Decsys/Controllers/WebhooksController.cs
Labels: Area: Backend API

fix payload json
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

status and data used to log webhook data
  app/client-app/src/api/webhooks.js
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

camelcase instead of pascalcase
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

bump pnpm to support node 20
  app/Decsys/Extensions/HttpRequestExtensions.cs
  package.json
  pnpm-lock.yaml
Labels: Area: Backend API

manually parse PreviewTrigger request body to deserialize the correct types based on Event Type name
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Extensions/HttpRequestExtensions.cs
  app/Decsys/Startup/Web/ConfigureWebPipeline.cs
Labels: Area: Backend API

change defaults
  app/client-app/src/app/pages/Preview.jsx
Labels: Area: Frontend

webhook notification
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

refactor
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

notification icon
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

layout changes
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

modal open and notification clears
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

notification number reset
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

state for webhooks when notification clicked
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

UI for the modal box
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

layout json
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

more layout changes
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

page name
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

refactor
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

some more refactoring
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

button to download payload
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
Labels: Area: Frontend

download combined json
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
Labels: Area: Frontend

download as a zip
  app/client-app/package.json
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
  pnpm-lock.yaml
Labels: Area: Frontend

untitled page
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
Labels: Area: Frontend

removed comments
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
Labels: Area: Frontend

removed vstack
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
Labels: Area: Frontend

name changes
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
Labels: Area: Frontend

busy page spinner added
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
Labels: Area: Frontend

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
