Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

default value
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
Labels: Area: Backend API

litedb create
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
Labels: Area: Backend API

no ownerId
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
Labels: Area: Backend API

async await
  app/Decsys/Controllers/FolderController.cs
  app/Decsys/Mapping/FolderMaps.cs
  app/Decsys/Models/Folder.cs
  app/Decsys/Repositories/Contracts/IFolderRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
  app/Decsys/Services/FolderService.cs
Labels: Area: Backend API

no need for owner
  app/Decsys/Models/Folder.cs
Labels: Area: Backend API

list and check if exist end point
  app/Decsys/Controllers/FolderController.cs
  app/Decsys/Repositories/Contracts/IFolderRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
  app/Decsys/Services/FolderService.cs
Labels: Area: Backend API

check if folder exist, update list
  app/client-app/src/api/folder.js
  app/client-app/src/app/pages/Surveys/components/AddFolderModal.jsx
Labels: Area: Frontend

folder ui
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SurveyInfoLine.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/components/core/StateIndicator.jsx
  app/client-app/src/themes/index.js
Labels: Area: Frontend

color update
  app/client-app/src/components/core/StateIndicator.jsx
Labels: Area: Frontend

removed brown color
  app/client-app/src/themes/index.js
Labels: Area: Frontend

comment
  app/client-app/src/app/pages/Surveys/components/AddFolderModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SurveyInfoLine.jsx
Labels: Area: Frontend

fixed warnings
  app/Decsys/Repositories/Contracts/IFolderRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
Labels: Area: Backend API

move surveys into a folder, backend
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Data/Entities/BaseSurvey.cs
  app/Decsys/Data/Entities/LiteDb/Folders.cs
  app/Decsys/Models/Survey.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

survey count
  app/Decsys/Data/Entities/LiteDb/Folders.cs
  app/Decsys/Data/Entities/Mongo/Folder.cs
  app/Decsys/Models/Folder.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

comments
  app/Decsys/Controllers/FolderController.cs
  app/Decsys/Controllers/SurveysController.cs
  app/Decsys/Services/SurveyService.cs
Labels: Area: Backend API

update auth
  app/Decsys/Controllers/FolderController.cs
Labels: Area: Backend API

linespace
  app/Decsys/Models/Survey.cs
Labels: Area: Backend API

refactor
  app/Decsys/Data/Entities/BaseFolder.cs
  app/Decsys/Data/Entities/LiteDb/Folders.cs
  app/Decsys/Data/Entities/Mongo/Folder.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/app/pages/Surveys/components/AddFolderModal.jsx
Labels: Area: Frontend, Area: Backend API

change folder ui skeleton
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
Labels: Area: Frontend

change folder menu
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
Labels: Area: Frontend

api
  app/Decsys/Controllers/SurveysController.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SurveyInfoLine.jsx
Labels: Area: Frontend, Area: Backend API

mutate list
  app/Decsys/Models/SurveySummary.cs
  app/client-app/src/app/pages/Surveys/actions/surveyCardActions.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/contexts/SurveyCardActions.js
Labels: Area: Frontend, Area: Backend API

toast
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
Labels: Area: Frontend

rename
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
Labels: Area: Frontend

linespaces
  app/Decsys/Models/SurveySummary.cs
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
Labels: Area: Frontend, Area: Backend API

get folders with surveys
  app/Decsys/Data/Entities/BaseFolder.cs
  app/Decsys/Data/Entities/BaseSurvey.cs
  app/Decsys/Data/Entities/LiteDb/Folders.cs
  app/Decsys/Data/Entities/Mongo/Folder.cs
  app/Decsys/Models/Folder.cs
  app/Decsys/Models/ISummaryItem.cs
  app/Decsys/Models/PagedSurveySummary.cs
  app/Decsys/Models/Survey.cs
  app/Decsys/Models/SurveySummary.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/ExportService.cs
  app/Decsys/Services/SurveyInstanceService.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/api/surveys.js
  app/client-app/src/app/pages/Surveys/actions/surveyCardActions.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SurveyInfoLine.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
  app/client-app/src/components/shared/Webhook/WebhookManagementController.jsx
Labels: Area: Frontend, Area: Backend API

sorting
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend, Area: Backend API

name is Id
  app/Decsys/Models/PagedSurveySummary.cs
  app/Decsys/Models/SurveySummary.cs
  app/Decsys/Repositories/Contracts/ISurveyRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/Decsys/Services/SurveyService.cs
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

return no survey component when survey empty
  app/Decsys/Data/Entities/Mongo/Folder.cs
  app/Decsys/Services/ExportService.cs
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend, Area: Backend API

better variable names
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
Labels: Area: Backend API

sorting via type
  app/Decsys/Constants/SurveySortingKeys.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend, Area: Backend API

mutate and conditionally render type
  app/client-app/src/app/pages/Surveys/components/AddFolderModal.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend

delete folder
  app/Decsys/Controllers/FolderController.cs
  app/Decsys/Repositories/Contracts/IFolderRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbFolderRepository.cs
  app/Decsys/Repositories/Mongo/FolderRepository.cs
  app/Decsys/Services/FolderService.cs
  app/client-app/src/api/folder.js
  app/client-app/src/app/pages/Surveys/actions/surveyCardActions.js
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/contexts/SurveyCardActions.js
  app/client-app/src/components/shared/DeleteFolderModal.jsx
Labels: Area: Frontend, Area: Backend API

can't delete folders with surveys
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/components/shared/DeleteFolderModal.jsx
Labels: Area: Frontend

grid structure fixes
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
Labels: Area: Frontend

correct comment
  app/Decsys/Services/FolderService.cs
Labels: Area: Backend API

max length is the longest word
  app/client-app/src/app/pages/Wordlist/components/WordCardFilters.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend

variables renamed
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend

folders clickable
  app/client-app/src/app/layouts/Folders.jsx
  app/client-app/src/app/layouts/index.jsx
  app/client-app/src/app/pages/Folders/index.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SurveyInfoLine.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/index.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/routes/admin.routes.jsx
Labels: Area: Frontend

display surveys
  app/client-app/src/app/pages/Editor/components/PageList/PageHeader.jsx
  app/client-app/src/app/pages/Folders/index.jsx
  app/client-app/src/app/pages/Surveys/components/PageHeader.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ManageSurveyMenu.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  app/client-app/src/app/pages/Surveys/index.jsx
Labels: Area: Frontend
