Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

removed console log
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

removed debugging help
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

rearranging layout
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/choose-many/ResponseItem.params.jsx
  response-items/src/choose-many/components/CheckboxList.jsx
Labels: Area: Frontend, Area: Response Items

removed uneccesary code
  app/client-app/src/components/shared/SurveyPage.jsx
  packages/param-types/ResponseItemContexts.js
Labels: Area: Frontend

Add missing get / setters
  app/Decsys/Models/Webhooks/WebhookModel.cs
Labels: Area: Backend API

storybook update
  response-items/src/freetext/Icon.jsx
  response-items/src/freetext/ResponseItem.jsx
  response-items/src/freetext/ResponseItem.params.jsx
  response-items/src/freetext/ResponseItem.stats.jsx
  response-items/src/freetext/ResponseItem.stories.jsx
Labels: Area: Response Items

response item fixed
  response-items/src/freetext/ResponseItem.jsx
Labels: Area: Response Items

number input fix
  app/client-app/src/components/shared/SurveyPage.jsx
  packages/param-types/ResponseItemContexts.js
  response-items/src/number/ResponseItem.jsx
  response-items/src/number/ResponseItem.stories.jsx
Labels: Area: Frontend, Area: Response Items

removed console log
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

set valid response to false when outside range
  response-items/src/number/ResponseItem.jsx
Labels: Area: Response Items

Revert changes
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
Labels: Area: Backend API

Add docs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

renamed files
  packages/rating-scales/src/core/Frame.jsx
  packages/rating-scales/src/core/Question.jsx
  packages/rating-scales/src/core/ScaleBar.jsx
  packages/rating-scales/src/core/ScaleLabel.jsx
  packages/rating-scales/src/core/ScaleMarkerSet.jsx
  packages/rating-scales/src/discrete/DiscreteScale.jsx
  packages/rating-scales/src/discrete/Radio.jsx
  packages/rating-scales/src/ellipse/Canvas.jsx
  packages/rating-scales/src/ellipse/EllipseScale.jsx
  packages/rating-scales/src/vas/Confidence.jsx
  packages/rating-scales/src/vas/DragMarker.jsx
  packages/rating-scales/src/vas/MultiScale.jsx
  packages/rating-scales/src/vas/MultiVisualAnalogScale.jsx
  packages/rating-scales/src/vas/ResetButtons.jsx
  packages/rating-scales/src/vas/Scale.jsx
  packages/rating-scales/src/vas/VisualAnalogScale.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.params.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.stats.jsx
  response-items/src/multi-visual-analog-scale/metadata.jsx
  response-items/src/visual-analog-scale/Icon.jsx
  response-items/src/visual-analog-scale/ResponseItem.jsx
  response-items/src/visual-analog-scale/ResponseItem.params.jsx
  response-items/src/visual-analog-scale/ResponseItem.stats.jsx
  response-items/src/visual-analog-scale/ResponseItem.stories.jsx
Labels: Area: Response Items, Area: Rating Scales

storybook vite css emotion config
  packages/rating-scales/src/vas/Confidence.jsx
  pnpm-lock.yaml
  response-items/package.json
  response-items/src/multi-visual-analog-scale/Icon.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.stories.jsx
  response-items/src/multi-visual-analog-scale/metadata.js
  response-items/src/visual-analog-scale/ResponseItem.jsx
  response-items/tsconfig.json
  response-items/vite.config.ts
Labels: Area: Response Items, Area: Rating Scales

storybook defaults for vas
  response-items/src/visual-analog-scale/ResponseItem.stories.jsx
Labels: Area: Response Items

mvas storybook updated
  response-items/src/multi-visual-analog-scale/ResponseItem.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.stories.jsx
Labels: Area: Response Items

vas isValid changes
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/visual-analog-scale/ResponseItem.jsx
  response-items/src/visual-analog-scale/ResponseItem.stories.jsx
Labels: Area: Frontend, Area: Response Items

vas setIsValidResponse fix
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/visual-analog-scale/ResponseItem.jsx
Labels: Area: Frontend, Area: Response Items

mvas response item isValid update
  packages/rating-scales/src/vas/MultiVisualAnalogScale.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.jsx
  response-items/src/visual-analog-scale/ResponseItem.jsx
Labels: Area: Response Items, Area: Rating Scales

removed console.log
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

null check updated to nullish checks
  app/client-app/src/components/shared/SurveyPage.jsx
  packages/rating-scales/src/vas/MultiVisualAnalogScale.jsx
  response-items/src/number/ResponseItem.jsx
Labels: Area: Frontend, Area: Response Items, Area: Rating Scales

removed line space
  response-items/src/multi-visual-analog-scale/ResponseItem.jsx
Labels: Area: Response Items

fixed imports and exports
  packages/rating-scales/package.json
  response-items/src/discrete-scale/Icon.jsx
  response-items/src/discrete-scale/ResponseItem.jsx
  response-items/src/discrete-scale/ResponseItem.params.jsx
  response-items/src/discrete-scale/ResponseItem.stats.jsx
  response-items/src/ellipse-scale/Icon.jsx
  response-items/src/ellipse-scale/ResponseItem.jsx
  response-items/src/ellipse-scale/ResponseItem.params.jsx
  response-items/src/ellipse-scale/ResponseItem.stats.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.jsx
  response-items/src/visual-analog-scale/ResponseItem.jsx
Labels: Area: Response Items, Area: Rating Scales

updates to payload to pass an object instead of array
  app/Decsys/Mapping/JObjectBsonConverter.cs
  app/Decsys/appsettings.Development.json
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/choose-many/components/CheckboxList.jsx
Labels: Area: Frontend, Area: Backend API, Area: Response Items

state reset at the start of useLayoutEffect
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

workshopMode changed back to true
  app/Decsys/appsettings.Development.json
Labels: Area: Backend API

AB#104300: Fixes for display results on Dashboard (#216)
  app/Decsys/Mapping/JObjectBsonConverter.cs
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/choose-many/components/CheckboxList.jsx
Labels: Area: Frontend, Area: Backend API, Area: Response Items

nav menu and rooting changes
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  app/client-app/src/app/pages/Editor/components/EditorBar/Buttons.jsx
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/app/pages/Results.jsx
  app/client-app/src/app/routes/admin.routes.jsx
  app/client-app/src/app/routes/root.jsx
Labels: Area: Frontend

results nav fixed
  app/client-app/src/app/pages/Results.jsx
Labels: Area: Frontend

wordlist page and root
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/app/routes/admin.routes.jsx
Labels: Area: Frontend

added icons
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
Labels: Area: Frontend

world list entites created
  app/Decsys/Constants/Collections.cs
  app/Decsys/Models/Wordlist/UserWordlist.cs
  app/Decsys/Models/Wordlist/WordlistOptions.cs
  app/Decsys/Models/Wordlist/WordlistRules.cs
  app/Decsys/Models/Wordlist/WordlistWord.cs
Labels: Area: Backend API

mongo and litedb entities model added
  app/Decsys/Constants/Collections.cs
  app/Decsys/Data/Entities/BaseWordlistRules.cs
  app/Decsys/Data/Entities/LiteDb/WordlistRules.cs
  app/Decsys/Data/Entities/Mongo/WordlistRules.cs
  app/Decsys/Mapping/EventMaps.cs
  app/Decsys/Mapping/WordlistMap.cs
  app/Decsys/Models/Wordlist/WordlistRules.cs
Labels: Area: Backend API

wordlist maping
  app/Decsys/Data/Entities/LiteDb/WordlistRules.cs
  app/Decsys/Mapping/WordlistMap.cs
  app/Decsys/Models/Wordlist/WordlistRules.cs
Labels: Area: Backend API

methods and mapping
  app/Decsys/Mapping/BsonJObjectConverter.cs
  app/Decsys/Mapping/JObjectBsonConverter.cs
  app/Decsys/Mapping/WordlistMap.cs
Labels: Area: Backend API

mapping fixes
  app/Decsys/Mapping/BsonJObjectConverter.cs
  app/Decsys/Mapping/JObjectBsonConverter.cs
  app/Decsys/Mapping/WordlistMap.cs
Labels: Area: Backend API

BsonJToken method removed
  app/Decsys/Mapping/BsonJObjectConverter.cs
Labels: Area: Backend API

method updates
  app/Decsys/Mapping/BsonJObjectConverter.cs
  app/Decsys/Mapping/JObjectBsonConverter.cs
Labels: Area: Backend API

removed regex stuff
  app/Decsys/Mapping/BsonJObjectConverter.cs
  app/Decsys/Mapping/JObjectBsonConverter.cs
Labels: Area: Backend API

removed linespace
  app/Decsys/Mapping/EventMaps.cs
  app/Decsys/Models/Wordlist/WordlistOptions.cs
Labels: Area: Backend API

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs
