Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

synchronous methods
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

not using rules
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
Labels: Area: Backend API

email resent link
  app/Decsys/Controllers/AccountController.cs
  app/client-app/src/api/account.js
  app/client-app/src/app/pages/user/Feedback/Token.jsx
Labels: Area: Frontend, Area: Backend API

unused import
  app/client-app/src/app/pages/user/Feedback/Token.jsx
Labels: Area: Frontend

error description
  app/Decsys/Controllers/AccountController.cs
Labels: Area: Backend API

use of Email instead of userId
  app/Decsys/Controllers/AccountController.cs
  app/client-app/src/app/pages/user/Feedback/Token.jsx
Labels: Area: Frontend, Area: Backend API

popper and missing key fixes
  app/client-app/src/app/pages/Editor/components/PageList/Header.jsx
  app/client-app/src/app/pages/Surveys/components/PageHeader.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  docs/src/theme/Root.js
Labels: Area: Frontend, Area: Docs

React Prop Warning fixes
  packages/rating-scales/src/core/ScaleBar.jsx
Labels: Area: Rating Scales

refactor
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
  docs/src/theme/Root.js
Labels: Area: Frontend, Area: Docs

survey name if id missing
  app/client-app/src/app/pages/Surveys/components/SurveysList.jsx
Labels: Area: Frontend

utils folder renamed as it was leading to a false warning
  response-items/src/discrete-scale/ResponseItem.jsx
  response-items/src/discrete-scale/ResponseItem.stats.jsx
  response-items/src/discrete-scale/utility/radio-params.js
  response-items/src/ellipse-scale/ResponseItem.stories.jsx
  response-items/src/ellipse-scale/index.js
Labels: Area: Response Items

Revert "utils folder renamed as it was leading to a false warning"
  response-items/src/discrete-scale/ResponseItem.jsx
  response-items/src/discrete-scale/ResponseItem.stats.jsx
  response-items/src/discrete-scale/utils/radio-params.js
  response-items/src/ellipse-scale/ResponseItem.stories.jsx
  response-items/src/ellipse-scale/index.js
Labels: Area: Response Items

build error fixes
  packages/rating-scales/src/ellipse/Canvas.jsx
Labels: Area: Rating Scales

Revert "build error fixes"
  packages/rating-scales/src/ellipse/Canvas.jsx
Labels: Area: Rating Scales

ignore util and inherit modules
  response-items/.rollup/ellipse-scale.js
Labels: Area: Response Items

Revert "ignore util and inherit modules"
  response-items/.rollup/ellipse-scale.js
Labels: Area: Response Items

supressing the warning
  config/response-item-rollup.js
Labels: none

Revert "supressing the warning"
  config/response-item-rollup.js
Labels: none

adding polyfill plugin
  pnpm-lock.yaml
  response-items/.rollup/ellipse-scale.js
  response-items/package.json
Labels: Area: Response Items
