Repository decsys/decsys, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Frontend, Area: Backend API, Area: Docs, Area: Response Items, Area: Rating Scales, Contains: Migrations

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Frontend":
  - app/client-app/**/*
"Area: Backend API":
  - app/Decsys/**/*
"Area: Docs":
  - docs/**/*
"Area: Response Items":
  - response-items/**/*
"Area: Rating Scales":
  - packages/rating-scales/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - app/**/Migrations/*.cs

security
  docs/docs/users/webhook/security.md
Labels: Area: Docs

text updates
  docs/docs/users/webhook/configuration.md
  docs/docs/users/webhook/events.md
Labels: Area: Docs

docs changes
  docs/docs/devs/technical/hosted.md
  docs/docs/users/webhook/configuration.md
  docs/docs/users/webhook/events.md
Labels: Area: Docs

secret editing
  docs/docs/users/webhook/configuration.md
  docs/docs/users/webhook/events.md
  docs/docs/users/webhook/security.md
Labels: Area: Docs

Update docs/docs/users/webhook/events.md
  docs/docs/users/webhook/events.md
Labels: Area: Docs

removed storybook
  packages/rating-scales/.storybook/main.cjs
  packages/rating-scales/.storybook/preview.js
  packages/rating-scales/package.json
  pnpm-lock.yaml
Labels: Area: Rating Scales

install storybook
  packages/rating-scales/.babelrc.json
  packages/rating-scales/.storybook/main.js
  packages/rating-scales/.storybook/preview.js
  packages/rating-scales/package.json
  packages/rating-scales/src/stories/Button.jsx
  packages/rating-scales/src/stories/Button.stories.js
  packages/rating-scales/src/stories/Configure.mdx
  packages/rating-scales/src/stories/Header.jsx
  packages/rating-scales/src/stories/Header.stories.js
  packages/rating-scales/src/stories/Page.jsx
  packages/rating-scales/src/stories/Page.stories.js
  packages/rating-scales/src/stories/assets/accessibility.png
  packages/rating-scales/src/stories/assets/accessibility.svg
  packages/rating-scales/src/stories/assets/addon-library.png
  packages/rating-scales/src/stories/assets/assets.png
  packages/rating-scales/src/stories/assets/context.png
  packages/rating-scales/src/stories/assets/discord.svg
  packages/rating-scales/src/stories/assets/docs.png
  packages/rating-scales/src/stories/assets/figma-plugin.png
  packages/rating-scales/src/stories/assets/github.svg
  packages/rating-scales/src/stories/assets/share.png
  packages/rating-scales/src/stories/assets/styling.png
  packages/rating-scales/src/stories/assets/testing.png
  packages/rating-scales/src/stories/assets/theming.png
  packages/rating-scales/src/stories/assets/tutorials.svg
  packages/rating-scales/src/stories/assets/youtube.svg
  packages/rating-scales/src/stories/button.css
  packages/rating-scales/src/stories/header.css
  packages/rating-scales/src/stories/page.css
  pnpm-lock.yaml
Labels: Area: Rating Scales

delete old stories and update question story
  packages/rating-scales/src/core/Question.stories.tsx
  packages/rating-scales/src/core/ScaleBar.stories.tsx
  packages/rating-scales/src/core/ScaleMarkerSet.jsx
  packages/rating-scales/src/discrete/Radio.stories.tsx
  packages/rating-scales/src/discrete/Scale.stories.tsx
  packages/rating-scales/src/ellipse/Canvas.stories.js
  packages/rating-scales/src/ellipse/EllipseScale.stories.js
  packages/rating-scales/src/vas/Confidence.stories.js
  packages/rating-scales/src/vas/DragMarker.stories.js
  packages/rating-scales/src/vas/MultiScale.stories.js
  packages/rating-scales/src/vas/MultiVisualAnalogScale.stories.js
  packages/rating-scales/src/vas/Scale.stories.js
  packages/rating-scales/src/vas/VisualAnalogScale.stories.js
Labels: Area: Rating Scales

vite storybook
  packages/rating-scales/.babelrc.json
  packages/rating-scales/.storybook/main.js
  packages/rating-scales/.storybook/preview.js
  packages/rating-scales/.storybook/preview.jsx
  packages/rating-scales/package.json
  packages/rating-scales/src/core/Question.stories.tsx
  packages/rating-scales/src/stories/Button.jsx
  packages/rating-scales/src/stories/Button.stories.js
  packages/rating-scales/src/stories/Configure.mdx
  packages/rating-scales/src/stories/Header.jsx
  packages/rating-scales/src/stories/Header.stories.js
  packages/rating-scales/src/stories/Page.jsx
  packages/rating-scales/src/stories/Page.stories.js
  packages/rating-scales/src/stories/assets/accessibility.png
  packages/rating-scales/src/stories/assets/accessibility.svg
  packages/rating-scales/src/stories/assets/addon-library.png
  packages/rating-scales/src/stories/assets/assets.png
  packages/rating-scales/src/stories/assets/context.png
  packages/rating-scales/src/stories/assets/discord.svg
  packages/rating-scales/src/stories/assets/docs.png
  packages/rating-scales/src/stories/assets/figma-plugin.png
  packages/rating-scales/src/stories/assets/github.svg
  packages/rating-scales/src/stories/assets/share.png
  packages/rating-scales/src/stories/assets/styling.png
  packages/rating-scales/src/stories/assets/testing.png
  packages/rating-scales/src/stories/assets/theming.png
  packages/rating-scales/src/stories/assets/tutorials.svg
  packages/rating-scales/src/stories/assets/youtube.svg
  packages/rating-scales/src/stories/button.css
  packages/rating-scales/src/stories/header.css
  packages/rating-scales/src/stories/page.css
  pnpm-lock.yaml
Labels: Area: Rating Scales

stories added
  packages/rating-scales/src/core/Question.stories.jsx
  packages/rating-scales/src/core/ScaleBar.stories.jsx
Labels: Area: Rating Scales

vite emotion package added
  packages/rating-scales/package.json
  packages/rating-scales/tsconfig.json
  packages/rating-scales/vite.config.ts
  pnpm-lock.yaml
Labels: Area: Rating Scales

scale bar stories
  packages/rating-scales/src/core/ScaleBar.stories.jsx
Labels: Area: Rating Scales

scales stories added
  packages/rating-scales/src/discrete/DiscreteScale.stories.jsx
  packages/rating-scales/src/discrete/Radio.stories.jsx
Labels: Area: Rating Scales

radio button story fixes
  packages/rating-scales/src/discrete/Radio.stories.jsx
Labels: Area: Rating Scales

couple more example stories
  packages/rating-scales/src/discrete/DiscreteScale.stories.jsx
  packages/rating-scales/src/discrete/Radio.stories.jsx
Labels: Area: Rating Scales

canvas - incomplete
  packages/rating-scales/src/core/ScaleMarkerSet.jsx
  packages/rating-scales/src/discrete/Scale.stories.jsx
  packages/rating-scales/src/ellipse/Canvas.stories.jsx
Labels: Area: Rating Scales

canvas with control
  packages/rating-scales/src/ellipse/Canvas.stories.jsx
Labels: Area: Rating Scales

ellipse with docs
  packages/rating-scales/src/ellipse/EllipseScale.stories.jsx
Labels: Area: Rating Scales

Control story
  packages/rating-scales/src/vas/Confidence.stories.jsx
Labels: Area: Rating Scales

vas and mvas stories
  packages/rating-scales/src/vas/DragMarker.stories.jsx
  packages/rating-scales/src/vas/MultiScale.stories.jsx
  packages/rating-scales/src/vas/Scale.stories.jsx
  packages/rating-scales/src/vas/VisualAnalogScale.stories.jsx
Labels: Area: Rating Scales

scale story fixes
  packages/rating-scales/src/vas/DragMarker.stories.jsx
  packages/rating-scales/src/vas/MultiScale.stories.jsx
  packages/rating-scales/src/vas/MultiVisualAnalogScale.stories.jsx
  packages/rating-scales/src/vas/Scale.stories.jsx
  packages/rating-scales/src/vas/VisualAnalogScale.stories.jsx
Labels: Area: Rating Scales

scale docs updates
  packages/rating-scales/src/core/ScaleBar.stories.jsx
  packages/rating-scales/src/discrete/Scale.stories.jsx
Labels: Area: Rating Scales

removed docs from confidence
  packages/rating-scales/src/discrete/Scale.stories.jsx
  packages/rating-scales/src/vas/Confidence.stories.jsx
Labels: Area: Rating Scales

action updated
  app/client-app/src/app/layouts/components/AppBar.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.stories.jsx
Labels: Area: Frontend

added action to wordcard
  app/client-app/src/app/pages/Wordlist/components/WordCard/Wordcard.stories.jsx
Labels: Area: Frontend

standard modal updates
  app/client-app/src/components/core/StandardModal.stories.jsx
Labels: Area: Frontend

modal state deleted
  app/client-app/src/components/core/StandardModal.stories.jsx
Labels: Area: Frontend

updated controls and actions
  app/client-app/src/app/layouts/components/AppBar.stories.jsx
  app/client-app/src/components/core/EmptyState.stories.jsx
  app/client-app/src/components/core/ToggleButton.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortButton.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortPanel.stories.jsx
Labels: Area: Frontend

chose one and discrete scale stories
  response-items/src/choose-one/Icon.jsx
  response-items/src/choose-one/ResponseItem.jsx
  response-items/src/choose-one/ResponseItem.params.jsx
  response-items/src/choose-one/ResponseItem.stories.jsx
  response-items/src/choose-one/components/DropDownList.jsx
  response-items/src/choose-one/components/RadioList.jsx
  response-items/src/discrete-scale/ResponseItem.stories.jsx
Labels: Area: Response Items

updated stories and response item
  response-items/src/choose-one/ResponseItem.stories.jsx
  response-items/src/discrete-scale/ResponseItem.stories.jsx
  response-items/src/ellipse-scale/ResponseItem.jsx
  response-items/src/ellipse-scale/ResponseItem.stories.jsx
Labels: Area: Response Items

default changes
  response-items/src/ellipse-scale/ResponseItem.stories.jsx
Labels: Area: Response Items

folder structure changes
  app/client-app/src/app/pages/Editor/components/Preview/PageReview.jsx
  app/client-app/src/app/pages/Editor/index.jsx
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/app/pages/Preview/index.jsx
  app/client-app/src/app/routes/admin.routes.jsx
Labels: Area: Frontend

refactor lines
  app/client-app/src/app/pages/Editor/index.jsx
  app/client-app/src/app/routes/admin.routes.jsx
Labels: Area: Frontend

feature flag for webhook notfication in preview
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

disable button when mandatory
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

tooltip added
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

Resolved comments
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

Update Decsys.csproj
  app/Decsys/Decsys.csproj
Labels: Area: Backend API

Update roadmap.md
  docs/docs/users/roadmap.md
Labels: Area: Docs

AB#119587: 2.4.0 release (#282)
  app/Decsys/Decsys.csproj
  docs/docs/users/roadmap.md
Labels: Area: Backend API, Area: Docs
