Repository decsys/decsys, pull requests merged in 2023-04, with the labels that each got.

#200 AB#100985: Storybook Update
  pnpm-lock.yaml
  response-items/.storybook/main.js
  response-items/.storybook/preview.js
  response-items/.storybook/preview.jsx
  response-items/package.json
  response-items/src/choose-one/ResponseItem.stories.js
  response-items/src/confirmation/ResponseItem.stories.js
  response-items/src/discrete-scale/ResponseItem.stories.js
  response-items/src/ellipse-scale/ResponseItem.stories.js
  response-items/src/freetext/ResponseItem.stories.js
  response-items/src/multi-visual-analog-scale/ResponseItem.stories.js
  response-items/src/visual-analog-scale/ResponseItem.stories.js
Labels: Area: Response Items

#201 AB#101726: Results perf
  app/Decsys/Controllers/InstancesController.cs
  app/Decsys/Controllers/ParticipantEventsController.cs
  app/Decsys/Mapping/SurveyInstanceMaps.cs
  app/Decsys/Models/SurveyInstanceResults.cs
  app/Decsys/Repositories/Contracts/IParticipantEventRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbParticipantEventRepository.cs
  app/Decsys/Repositories/Mongo/ParticipantEventRepository.cs
  app/Decsys/Services/ParticipantEventService.cs
  app/Decsys/appsettings.json
  app/client-app/package.json
  app/client-app/src/app/pages/Results.jsx
  app/client-app/src/services/export.js
  pnpm-lock.yaml
Labels: Area: Backend API, Area: Frontend

#202 AB#101420: Decsys number response view
  config/response-item-rollup.js
  response-items/.rollup/number.js
  response-items/.storybook/main.js
  response-items/package.json
  response-items/src/number/Icon.jsx
  response-items/src/number/ResponseItem.jsx
  response-items/src/number/ResponseItem.params.jsx
  response-items/src/number/ResponseItem.stories.jsx
  response-items/src/number/index.js
  response-items/src/number/metadata.js
Labels: Area: Response Items

#203 101778 choose many storybook
  response-items/src/choose-many/Icon.jsx
  response-items/src/choose-many/ResponseItem.jsx
  response-items/src/choose-many/ResponseItem.params.jsx
  response-items/src/choose-many/ResponseItem.stories.jsx
  response-items/src/choose-many/components/CheckboxList.jsx
  response-items/src/choose-many/index.js
  response-items/src/choose-many/metadata.js
  response-items/src/number/ResponseItem.jsx
Labels: Area: Response Items

#204 AB#101779: Choose Many Decsys
  response-items/.rollup/choose-many.js
  response-items/package.json
  response-items/src/choose-many/ResponseItem.jsx
  response-items/src/choose-many/ResponseItem.params.jsx
  response-items/src/choose-many/ResponseItem.stories.jsx
  response-items/src/choose-many/components/CheckboxList.jsx
Labels: Area: Response Items

#205 AB#100669: localise gifycat url service
  app/client-app/package.json
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/services/adjectives.js
  app/client-app/src/services/animals.js
  app/client-app/src/services/gfycat-style-urls.js
  app/old-client-app/package.json
  pnpm-lock.yaml
Labels: Area: Frontend

#206 AB#102269: fixed Number Params inputs when using the steppers
  app/client-app/src/app/pages/Editor/components/PageItemEditor/Param.jsx
Labels: Area: Frontend
