Repository decsys/decsys, pull requests merged in 2023-03, with the labels that each got.

#186 AB#85979: Participant counts fix
  app/Decsys/Decsys.csproj
  app/Decsys/Models/SurveySummary.cs
  app/Decsys/Repositories/Contracts/IParticipantEventRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbParticipantEventRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbSurveyRepository.cs
  app/Decsys/Repositories/Mongo/ParticipantEventRepository.cs
  app/Decsys/Repositories/Mongo/SurveyRepository.cs
  app/client-app/src/app/pages/Surveys/components/SurveyCard/ActiveInstanceLine.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SurveyInfoLine.jsx
Labels: Area: Backend API, Area: Frontend

#188 Fixing docs deployment
  .github/labeler.yml
  .github/workflows/build.docs.yml
  .github/workflows/deploy.docs.yml
Labels: Area: CI

#189 AB#100687: isOptional property added to response item
  app/Decsys/Controllers/ComponentsController.cs
  app/Decsys/Data/Entities/BaseComponent.cs
  app/Decsys/Decsys.csproj
  app/Decsys/Models/Component.cs
  app/Decsys/Services/ComponentService.cs
  app/Decsys/packages.lock.json
  app/client-app/vite.config.js
Labels: Area: Backend API, Area: Frontend

#191 AB#100690: Frontend optional button
  app/client-app/src/api/page-items.js
  app/client-app/src/app/pages/Editor/actions/pageItemActions.js
  app/client-app/src/app/pages/Editor/components/PageList/DraggablePageItem.jsx
  app/client-app/src/app/pages/Editor/contexts/PageItemActions.js
Labels: Area: Frontend

#192 🐛 Freetext fix
  .github/workflows/build.backend-api.yml
  .github/workflows/build.docs.yml
  .github/workflows/build.response.choose-one.yml
  .github/workflows/build.response.confirmation.yml
  .github/workflows/build.response.discrete-scale.yml
  .github/workflows/build.response.ellipse-scale.yml
  .github/workflows/build.response.freetext.yml
  .github/workflows/build.response.multi-visual-analog-scale.yml
  .github/workflows/build.response.visual-analog-scale.yml
  .github/workflows/build.web-frontend.yml
  app/Decsys/Decsys.csproj
  response-items/src/freetext/ResponseItem.js
  response-items/src/freetext/ResponseItem.stats.js
Labels: Area: CI, Area: Backend API, Area: Response Items

#196 AB#100691: Next button wiring
  app/client-app/src/app/pages/Dashboard/DetailsModalBody.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
  packages/param-types/ResponseItemContexts.js
Labels: Area: Frontend

#197 AB#101210: Heading and empty response next button fix
  app/client-app/src/app/pages/Editor/components/PageList/DraggablePageItem.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

#198 AB#1000692: isOptional Backend check
  app/Decsys/Controllers/ParticipantProgressController.cs
Labels: Area: Backend API

#199 AB#100694: Optional Status at Summary Exports
  app/Decsys/Models/PageResponseSummary.cs
  app/Decsys/Services/ParticipantEventService.cs
Labels: Area: Backend API
