Repository decsys/decsys, pull requests merged in 2023-11, with the labels that each got.

#272 AB#133594:UI for Webhook Notifcation
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

#273 AB#133595: Webhook zip
  app/client-app/package.json
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
  pnpm-lock.yaml
Labels: Area: Frontend

#274 AB#34372: Webhook Last Page
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookNotification.jsx
  app/client-app/src/app/pages/Editor/index.jsx
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/app/pages/Preview/components/Webhook/WebhookNotification.jsx
  app/client-app/src/app/pages/Preview/components/Webhook/WebhookPreviewModal.jsx
  app/client-app/src/app/pages/Preview/index.jsx
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

#275 AB#135263: Webhook Management UI Enhancement
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookActionCard.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookModal.jsx
Labels: Area: Frontend

#276 AB#123184: Page Navigation Fixes
  app/client-app/src/app/pages/Editor/components/Webhook/WebhookForm.jsx
Labels: Area: Frontend

#277 AB#105209: Webhook Docs
  docs/config/sidebars.js
  docs/docs/devs/technical/hosted.md
  docs/docs/users/webhook/configuration.md
  docs/docs/users/webhook/events.md
  docs/docs/users/webhook/overview.md
  docs/docs/users/webhook/payload.md
  docs/docs/users/webhook/security.md
Labels: Area: Docs

#278 101400 storybook rating scale
  packages/rating-scales/.storybook/main.cjs
  packages/rating-scales/.storybook/main.js
  packages/rating-scales/.storybook/preview.js
  packages/rating-scales/.storybook/preview.jsx
  packages/rating-scales/package.json
  packages/rating-scales/src/core/Question.stories.jsx
  packages/rating-scales/src/core/Question.stories.tsx
  packages/rating-scales/src/core/ScaleBar.stories.jsx
  packages/rating-scales/src/discrete/Radio.stories.jsx
  packages/rating-scales/src/discrete/Radio.stories.tsx
  packages/rating-scales/src/discrete/Scale.stories.jsx
  packages/rating-scales/src/discrete/Scale.stories.tsx
  packages/rating-scales/src/ellipse/Canvas.stories.jsx
  packages/rating-scales/src/ellipse/EllipseScale.stories.js
  packages/rating-scales/src/ellipse/EllipseScale.stories.jsx
  packages/rating-scales/src/vas/Confidence.stories.js
  packages/rating-scales/src/vas/Confidence.stories.jsx
  packages/rating-scales/src/vas/DragMarker.stories.jsx
  packages/rating-scales/src/vas/MultiScale.stories.js
  packages/rating-scales/src/vas/MultiScale.stories.jsx
  packages/rating-scales/src/vas/MultiVisualAnalogScale.stories.jsx
  packages/rating-scales/src/vas/Scale.stories.jsx
  packages/rating-scales/src/vas/VisualAnalogScale.stories.jsx
  packages/rating-scales/tsconfig.json
  packages/rating-scales/vite.config.ts
  pnpm-lock.yaml
Labels: Area: Rating Scales

#279 AB#110181: Storybook
  app/client-app/src/app/layouts/components/AppBar.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.stories.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCard/Wordcard.stories.jsx
  app/client-app/src/components/core/EmptyState.stories.jsx
  app/client-app/src/components/core/StandardModal.stories.jsx
  app/client-app/src/components/core/ToggleButton.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortButton.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortPanel.stories.jsx
Labels: Area: Frontend

#280 AB#136697: Preivew bug fixes
  app/client-app/src/app/pages/Editor/components/Preview/PageReview.jsx
  app/client-app/src/app/pages/Editor/index.jsx
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/app/pages/Preview/index.jsx
Labels: Area: Frontend

#281 AB#135852: Clear Response button
  app/client-app/src/components/shared/SurveyPage.jsx
Labels: Area: Frontend

#282 AB#119587: 2.4.0 release
  app/Decsys/Decsys.csproj
  docs/docs/users/roadmap.md
Labels: Area: Backend API, Area: Docs
