Repository decsys/decsys, pull requests merged in 2023-06, with the labels that each got.

#220 AB#101772: Add secure webhooks
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

#219 AB#107324: Wordlist entity
  app/Decsys/Constants/Collections.cs
  app/Decsys/Data/Entities/BaseUserWordlist.cs
  app/Decsys/Data/Entities/BaseWordlistRules.cs
  app/Decsys/Data/Entities/LiteDb/UserWordlist.cs
  app/Decsys/Data/Entities/LiteDb/WordlistRules.cs
  app/Decsys/Data/Entities/Mongo/UserWordlist.cs
  app/Decsys/Data/Entities/Mongo/WordlistRules.cs
  app/Decsys/Data/Entities/WordlistOptions.cs
  app/Decsys/Data/Entities/WordlistWord.cs
  app/Decsys/Mapping/BsonJsonConverter.cs
  app/Decsys/Mapping/EventMaps.cs
  app/Decsys/Mapping/JsonBsonConverter.cs
  app/Decsys/Mapping/WordlistMaps.cs
  app/Decsys/Models/Wordlist/UserWordlist.cs
  app/Decsys/Models/Wordlist/WordlistOptions.cs
  app/Decsys/Models/Wordlist/WordlistRules.cs
  app/Decsys/Models/Wordlist/WordlistWord.cs
Labels: Area: Backend API

#221 AB#107338: Wordlist post
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Data/Entities/BaseUserWordlist.cs
  app/Decsys/Data/Entities/LiteDb/UserWordlist.cs
  app/Decsys/Data/Entities/LiteDb/WordlistRules.cs
  app/Decsys/Data/Entities/Mongo/UserWordlist.cs
  app/Decsys/Mapping/WordlistMaps.cs
  app/Decsys/Models/Wordlist/UserWordlist.cs
  app/Decsys/Models/Wordlist/WordlistOptions.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

#222 AB#105207: Change Startup + Port crypto services
  app/Decsys/Commands/GenerateId.cs
  app/Decsys/Commands/Hash.cs
  app/Decsys/Commands/Helpers/Bind.cs
  app/Decsys/Commands/Helpers/CliMiddlewareExtensions.cs
  app/Decsys/Commands/Helpers/ConfigureCommandServices.cs
  app/Decsys/Commands/Runners/GenerateId.cs
  app/Decsys/Commands/Runners/Hash.cs
  app/Decsys/Decsys.csproj
  app/Decsys/Program.cs
  app/Decsys/Startup/Cli/CliEntrypoint.cs
  app/Decsys/Startup/Web/ConfigureWebPipeline.cs
  app/Decsys/Startup/Web/ConfigureWebServices.cs
  app/Decsys/Startup/Web/WebEntrypoint.cs
  app/Decsys/Startup/Web/WebInitialisation.cs
  app/Decsys/Utilities/Crypto.cs
  app/Decsys/packages.lock.json
Labels: Area: Backend API

#223 AB#107334: Put wordlist rules
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

#224 AB#107336: Delete Endpoint
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

#226 AB#107337: Delete excluded words
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Repositories/Contracts/IWordlistRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWordlistRepository.cs
  app/Decsys/Repositories/Mongo/WordlistRepository.cs
  app/Decsys/Services/WordlistService.cs
Labels: Area: Backend API

#227 AB#109842: Feature Flag
  app/Decsys/Constants/FeatureFlags.cs
  app/Decsys/Controllers/ConfigController.cs
  app/Decsys/Controllers/WordlistsController.cs
  app/Decsys/Decsys.csproj
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/appsettings.json
  app/Decsys/packages.lock.json
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
Labels: Area: Backend API, Area: Frontend

#228 AB#101401: Storybook for Decsys client app
  app/client-app/.storybook/main.js
  app/client-app/.storybook/preview.jsx
  app/client-app/package.json
  app/client-app/src/app/layouts/components/AppBar.stories.js
  app/client-app/src/app/layouts/components/AppBar.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/SelectStudyModal.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveyCard/StudySelectList.stories.jsx
  app/client-app/src/app/pages/Surveys/components/SurveysList.stories.jsx
  app/client-app/src/components/core/ActiveIndicator.stories.jsx
  app/client-app/src/components/core/EmptyState.stories.jsx
  app/client-app/src/components/core/ErrorsAlert.stories.jsx
  app/client-app/src/components/core/LoadingIndicator.stories.jsx
  app/client-app/src/components/core/ProgressCard.stories.jsx
  app/client-app/src/components/core/StandardModal.stories.jsx
  app/client-app/src/components/core/StateIndicator.stories.jsx
  app/client-app/src/components/core/ToggleButton.stories.js
  app/client-app/src/components/core/ToggleButton.stories.jsx
  app/client-app/src/components/page-items/Heading.stories.js
  app/client-app/src/components/page-items/Heading.stories.jsx
  app/client-app/src/components/page-items/Paragraph.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortButton.stories.js
  app/client-app/src/components/shared/SortPanel/SortButton.stories.jsx
  app/client-app/src/components/shared/SortPanel/SortPanel.stories.js
  app/client-app/src/components/shared/SortPanel/SortPanel.stories.jsx
  pnpm-lock.yaml
Labels: Area: Frontend

#229 AB#104476: Migrate to Vitest
  app/client-app/package.json
  app/client-app/src/services/instance-id.test.js
  pnpm-lock.yaml
Labels: Area: Frontend

#230 AB#11270: Fixed navigation
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  app/client-app/src/app/pages/Editor/components/EditorBar/Buttons.jsx
  app/client-app/src/app/pages/Preview.jsx
  app/client-app/src/app/routes/admin.routes.jsx
  app/client-app/src/app/routes/root.jsx
Labels: Area: Frontend

#231 AB#107339: Word Card List
  app/client-app/src/app/pages/Wordlist/components/WordCard/Wordcard.stories.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCardList.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCardList.stories.jsx
  app/client-app/src/app/pages/Wordlist/components/getFilteredWord.test.js
  app/client-app/src/app/pages/Wordlist/components/helpers.js
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend

#235 AB#107346: Unblock words
  app/client-app/src/api/wordlist.js
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
Labels: Area: Frontend

#236 AB#107340: Sorting Wordlist
  app/client-app/src/app/pages/Wordlist/WordlistSortingAndFiltering.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCard/Wordcard.stories.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCard/index.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCardList.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCardList.stories.jsx
  app/client-app/src/app/pages/Wordlist/components/getFilteredWord.test.js
  app/client-app/src/app/pages/Wordlist/components/helpers.js
  app/client-app/src/app/pages/Wordlist/components/useWordlistSortingAndFiltering.js
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/components/shared/SortPanel/helpers.jsx
  app/client-app/src/hooks/useSortingAndFiltering.js
Labels: Area: Frontend

#237 AB#107341: Filtering Words
  app/client-app/src/app/pages/Wordlist/WordlistSortingAndFiltering.jsx
  app/client-app/src/app/pages/Wordlist/components/WordCardList.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
Labels: Area: Frontend

#238 AB#10749: Added Wordlist to Config model
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
Labels: Area: Frontend

#239 AB#107350: Url Ids update
  app/client-app/src/app/pages/Surveys/components/SurveyConfigModal/ParticipantIdentifiersConfig.jsx
  app/client-app/src/services/gfycat-style-urls.js
  app/client-app/src/services/gyfcat-style-urls.test.js
Labels: Area: Frontend
