Repository decsys/decsys, pull requests merged in 2023-05, with the labels that each got.

#211 AB#104457: Confirmation
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/confirmation/Icon.jsx
  response-items/src/confirmation/ResponseItem.jsx
  response-items/src/confirmation/ResponseItem.params.jsx
  response-items/src/confirmation/ResponseItem.stories.jsx
Labels: Area: Frontend, Area: Response Items

#212 AB#104282: choose many
  response-items/src/choose-many/ResponseItem.jsx
  response-items/src/choose-many/ResponseItem.params.jsx
  response-items/src/choose-many/ResponseItem.stories.jsx
  response-items/src/choose-many/components/CheckboxList.jsx
Labels: Area: Response Items

#207 AB#101753: Webhooks backend
  app/Decsys/Constants/Collections.cs
  app/Decsys/Controllers/WebhooksController.cs
  app/Decsys/Data/Entities/Mongo/Webhook.cs
  app/Decsys/Models/Webhooks/WebhookModel.cs
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/ServiceCollectionExtensions.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API

#213 AB#104455: Amend freetext
  response-items/src/freetext/Icon.jsx
  response-items/src/freetext/ResponseItem.jsx
  response-items/src/freetext/ResponseItem.params.jsx
  response-items/src/freetext/ResponseItem.stats.jsx
  response-items/src/freetext/ResponseItem.stories.jsx
Labels: Area: Response Items

#214 AB#104456: Amend number
  packages/param-types/ResponseItemContexts.js
  response-items/src/number/ResponseItem.jsx
  response-items/src/number/ResponseItem.stories.jsx
Labels: Area: Response Items

#215 AB#1042881: Amend VAS and MVAS response item
  app/client-app/src/components/shared/SurveyPage.jsx
  packages/rating-scales/package.json
  packages/rating-scales/src/core/Frame.jsx
  packages/rating-scales/src/core/Question.jsx
  packages/rating-scales/src/core/ScaleBar.jsx
  packages/rating-scales/src/core/ScaleLabel.jsx
  packages/rating-scales/src/core/ScaleMarkerSet.jsx
  packages/rating-scales/src/discrete/DiscreteScale.jsx
  packages/rating-scales/src/discrete/Radio.jsx
  packages/rating-scales/src/ellipse/Canvas.jsx
  packages/rating-scales/src/ellipse/EllipseScale.jsx
  packages/rating-scales/src/vas/Confidence.jsx
  packages/rating-scales/src/vas/DragMarker.jsx
  packages/rating-scales/src/vas/MultiScale.jsx
  packages/rating-scales/src/vas/MultiVisualAnalogScale.jsx
  packages/rating-scales/src/vas/ResetButtons.jsx
  packages/rating-scales/src/vas/Scale.jsx
  packages/rating-scales/src/vas/VisualAnalogScale.jsx
  pnpm-lock.yaml
  response-items/package.json
  response-items/src/discrete-scale/Icon.jsx
  response-items/src/discrete-scale/ResponseItem.jsx
  response-items/src/discrete-scale/ResponseItem.params.jsx
  response-items/src/discrete-scale/ResponseItem.stats.jsx
  response-items/src/ellipse-scale/Icon.jsx
  response-items/src/ellipse-scale/ResponseItem.jsx
  response-items/src/ellipse-scale/ResponseItem.params.jsx
  response-items/src/ellipse-scale/ResponseItem.stats.jsx
  response-items/src/multi-visual-analog-scale/Icon.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.params.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.stats.jsx
  response-items/src/multi-visual-analog-scale/ResponseItem.stories.jsx
  response-items/src/number/ResponseItem.jsx
  response-items/src/visual-analog-scale/Icon.jsx
  response-items/src/visual-analog-scale/ResponseItem.jsx
  response-items/src/visual-analog-scale/ResponseItem.params.jsx
  response-items/src/visual-analog-scale/ResponseItem.stats.jsx
  response-items/src/visual-analog-scale/ResponseItem.stories.jsx
  response-items/tsconfig.json
  response-items/vite.config.ts
Labels: Area: Frontend, Area: Response Items, Area: Rating Scales

#216 AB#104300: Fixes for display results on Dashboard
  app/Decsys/Mapping/JObjectBsonConverter.cs
  app/client-app/src/components/shared/SurveyPage.jsx
  response-items/src/choose-many/components/CheckboxList.jsx
Labels: Area: Backend API, Area: Frontend, Area: Response Items

#218 AB#107319: Wordlist admin
  app/client-app/src/app/layouts/components/DefaultAppBar.jsx
  app/client-app/src/app/pages/Wordlist/index.jsx
  app/client-app/src/app/routes/admin.routes.jsx
Labels: Area: Frontend

#210 AB#101765: Webhooks trigger
  app/Decsys/Controllers/ParticipantProgressController.cs
  app/Decsys/Models/Webhooks/PayloadModel.cs
  app/Decsys/Repositories/Contracts/IWebhookRepository.cs
  app/Decsys/Repositories/LiteDb/LiteDbWebhookRepository.cs
  app/Decsys/Repositories/Mongo/WebhookRepository.cs
  app/Decsys/Services/ParticipantEventService.cs
  app/Decsys/Services/WebhookService.cs
Labels: Area: Backend API
